<script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

{% comment %} <script>
      window.jQuery('.order-summary__section--discount').before('<br><div class="free-gift appear-animation appear-delay-10"><div class="product-thumbnail free-gift__image--wrapper"><img class="free-gift__image product-thumbnail__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/tote.jpg?v=1606520588" alt="Sample photo"></div><div class="free-gift__body"><div class ="free-gift__body--center"><div class = "free-gift__body--title">Fingers Crossed Tote</div><div class = "free-gift__body--text">For a limited time only, get it as a free gift with purchase.</div><div class = "free-gift__body--disclaimer">*On orders of $50 USD or more.</div></div><div class= "free-gift__price"><span class="free-gift__price-strikethrough">$20.00</span><span class="free-gift__free-text">Free</span></div></div></div>');
</script> {% endcomment %}

<script>
  // Wait for document to be ready
  window.jQuery(document).ready(function(){
    // Defensively manipulate DOM
    try {
      // Construct custom POJO from checkout.line_items
      var checkoutItems = [
        {% for item in checkout.line_items %}
        {
          id: '{{ item.product_id }}',
          variantId: '{{ item.variant_id }}',
          compareAtPrice: '{{item.variant.compare_at_price | times: item.quantity | money}}',
          onSale: ({{item.variant.compare_at_price}} > {{item.variant.price}})
        },
        {% endfor %}
      ];

      checkoutItems
      	// For each checkout line item, filter out items not on sale
      	.filter(function (item) { return item.onSale; })
      	.forEach(function (item) {
          // Get price row node for sale item
          var itemPriceSection = document.querySelector('[data-variant-id="'+item.variantId+'"] > .product__price');

          if (itemPriceSection) {
            // Create compareAtPrice DOM node and style, and add to DOM
            var placeholder = document.createElement('span');
            placeholder.innerHTML = item.compareAtPrice;

            var compareAtPriceEl = placeholder.firstChild;
            if (compareAtPriceEl && compareAtPriceEl.setAttribute) {
              compareAtPriceEl.setAttribute('style', 'text-decoration: line-through; margin-right: 5px;');            
              window.jQuery(itemPriceSection).prepend(compareAtPriceEl);
            }

            // Highlight sale price node
            var itemPriceEl = itemPriceSection.querySelector('.order-summary__emphasis');
            if (itemPriceEl) {
              itemPriceEl.setAttribute('style', 'color: red;');
            }
          }
      	});


      // Compute total saved value across all line items
      {% assign compareAtPriceTotal = 0 %}
      {% for item in checkout.line_items %}
      	{% assign compareAtPrice = item.variant.compare_at_price | times: item.quantity %}
      	{% assign compareAtPriceTotal = compareAtPriceTotal | plus: compareAtPrice %}
      {% endfor %}
      {% assign totalSaved = compareAtPriceTotal | minus: checkout.line_items_subtotal_price  %}


      // Construct and add You saved DOM node under Subtotal
      var rawTotalSaved = {{ totalSaved }};
      var totalSavedPrice = '{{totalSaved | money}}';
     
      var subtotalRowEl = document.querySelector('.total-line--subtotal');
      var youSavedEl = document.createElement('tr');
      youSavedEl.setAttribute('class', 'total-line')
      youSavedEl.innerHTML = '<th class="total-line__name" scope="row">You saved</th>';
      youSavedEl.innerHTML += '<td class="total-line__price">'+totalSavedPrice+'</td>';

      var compareAtPriceEl = youSavedEl.querySelector('.total-line__price').firstChild;
      if (compareAtPriceEl && compareAtPriceEl.setAttribute) {        
        compareAtPriceEl.innerHTML = '-' + compareAtPriceEl.innerHTML;
        compareAtPriceEl.setAttribute('style', 'color: red;');        
      }

      if(rawTotalSaved > 0) {
        window.jQuery(youSavedEl).insertAfter(subtotalRowEl);
      }
    }
    catch(e) {
      console.log('Error', e);
    }
  });
</script>

<script>
      window.jQuery('.order-summary__section--total-lines').after('<div class="main-why"><div class="wyustit"><span style="background:#fafafa;padding:0 15px">Why choose us?</span></div><div class="why-body"><div class="why-main-image guarantee"><img src=""></div><div class="why"><div class="floating first charm"><img scr=""><small>Ethically<br>made in Canada</small></div><div class="floating sec charm"><img scr=""/><small>10X Stronger<br>than Steel</small></div></div></div>');
      window.jQuery('.guarantee > img').attr("src", "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Guarantee_Badge_01.svg?v=1602103416");
  	  window.jQuery('.first > img').attr("src", "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/charmtransparent?v=1602104102");
      window.jQuery('.sec > img').attr("src", "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/horseshow?v=1602104175");
</script>
<script>
      window.jQuery(document).ready(function(){
            window.jQuery(".main__header > a:nth-child(1)").attr("href", "/collections/all");
      });
</script>

{% comment %} remove standard shipping as an option when user is enabled and eligible for freeshipping  {% endcomment %}
<script>
window.jQuery(document).ready(function() {
  var element = document.getElementById('checkout_shipping_rate_id_shopify-free20shipping-0_00');

  if (element) {
    var isFreeShippingEligible = element.checked;    
    if (isFreeShippingEligible) {

      var elements = document.getElementsByClassName('content-box__row');
      if (elements.length > 2) {
        elements[2].remove();
      }
    }
  }
});
</script>
