<div class="index-section index-section--{{ block.settings.content_id }} ab-test-ugc-classics-1">
  <div class="page-width page-content tw-text-center mlg:tw-px-0">
    <p class="__section-header__2rZLU">
      #LifeInSheertex
    </p>    
    <div class="tw-container tw-flex mlg:tw-overflow-x-scroll tw-pt-6 __image-wrapper__yww6W">
      <div class="mlg:tw-ml-4 msm:tw-flex msm:tw-flex-col __card__3uH-j">
        <img loading="lazy" src="{{ block.settings.first_image_link }}" class="sm:tw-h-full">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" class="__insta-icon__c8gFS">
        <a href="{{ all_products[block.settings.first_product].url }}" class="msm:tw-hidden __overlay__5KAMe">
        <div class="__product-info__bUfJP">
            <p class="tw-pb-6 tw-mx-auto __product-title__wVt2z">{{ all_products[block.settings.first_product].title }}</p>
            <p class="__shop-now__3LOOL">Shop Now</p>
            <p class="__intsta-name__gWMwY">{{ block.settings.first_id }}</p>
        </div>
        </a>
        <a href="{{ all_products[block.settings.first_product].url }}" class="sm:tw-hidden tw-block tw-pt-2">
            <div class="msm:tw-block msm:tw-flex tw-flex-row tw-justify-between __product-info__bUfJP">
                <p class="tw-text-left tw-pb-0 tw-m-0 __product-title__wVt2z">{{ all_products[block.settings.first_product].title }}</p>
                <p class="__intsta-name__gWMwY">{{ block.settings.first_id }}</p>
            </div>
            <p class="tw-uppercase tw-underline tw-black tw-text-xs tw-font-medium tw-text-left tw-pb-0 __shop-now-mob__3QjBG">Shop Now</p>
        </a>
      </div>
      <div class="msm:tw-flex msm:tw-flex-col __card__3uH-j">
          <img loading="lazy" src="{{ block.settings.second_image_link }}" class="sm:tw-h-full">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" class="__insta-icon__c8gFS">
          <a href="{{ all_products[block.settings.second_product].url }}" class="msm:tw-hidden __overlay__5KAMe">
            <div class="__product-info__bUfJP">
              <p class="tw-pb-6 tw-mx-auto __product-title__wVt2z">{{ all_products[block.settings.second_product].title }}</p>
              <p class="__shop-now__3LOOL">Shop Now</p>
              <p class="__intsta-name__gWMwY">{{ block.settings.second_id }}</p>
            </div>
          </a>
          <a href="{{ all_products[block.settings.second_product].url }}" class="sm:tw-hidden tw-block tw-pt-2">
            <div class="msm:tw-block msm:tw-flex tw-flex-row tw-justify-between __product-info__bUfJP">
                <p class="tw-text-left tw-pb-0 tw-m-0 __product-title__wVt2z">{{ all_products[block.settings.second_product].title }}</p>
                <p class="__intsta-name__gWMwY">{{ block.settings.second_id }}</p>
            </div>
            <p class="tw-uppercase tw-underline tw-black tw-text-xs tw-font-medium tw-text-left tw-pb-0 __shop-now-mob__3QjBG">Shop Now</p>
          </a>
      </div>
      <div class="msm:tw-flex msm:tw-flex-col __card__3uH-j">
          <img loading="lazy" src="{{ block.settings.third_image_link }}" class="sm:tw-h-full">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" class="__insta-icon__c8gFS">
          <a href="{{ all_products[block.settings.third_product].url }}" class="msm:tw-hidden __overlay__5KAMe">
            <div class="__product-info__bUfJP">
              <p class="tw-pb-6 tw-mx-auto __product-title__wVt2z">{{ all_products[block.settings.third_product].title }}</p>
              <p class="__shop-now__3LOOL">Shop Now</p>
              <p class="__intsta-name__gWMwY">{{ block.settings.third_id }}</p>
            </div>
          </a>
          <a href="{{ all_products[block.settings.third_product].url }}" class="sm:tw-hidden tw-block tw-pt-2">
            <div class="msm:tw-block msm:tw-flex tw-flex-row tw-justify-between __product-info__bUfJP">
                <p class="tw-text-left tw-pb-0 tw-m-0 __product-title__wVt2z">{{ all_products[block.settings.third_product].title }}</p>
                <p class="__intsta-name__gWMwY">{{ block.settings.third_id }}</p>
            </div>
            <p class="tw-uppercase tw-underline tw-black tw-text-xs tw-font-medium tw-text-left tw-pb-0 __shop-now-mob__3QjBG">Shop Now</p>
          </a>
      </div>
      <div class="mlg:tw-pr-4 msm:tw-flex msm:tw-flex-col __card__3uH-j">
          <img loading="lazy" src="{{ block.settings.fourth_image_link }}" class="sm:tw-h-full">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" class="__insta-icon__c8gFS">
          <a href="{{ all_products[block.settings.fourth_product].url }}" class="msm:tw-hidden __overlay__5KAMe">
            <div class="__product-info__bUfJP">
              <p class="tw-pb-6 tw-mx-auto __product-title__wVt2z">{{ all_products[block.settings.fourth_product].title }}</p>
              <p class="__shop-now__3LOOL">Shop Now</p>
              <p class="__intsta-name__gWMwY">{{ block.settings.fourth_id }}</p>
            </div>
          </a>
          <a href="{{ all_products[block.settings.fourth_product].url }}" class="sm:tw-hidden tw-block tw-pt-2">
            <div class="msm:tw-block msm:tw-flex tw-flex-row tw-justify-between __product-info__bUfJP">
                <p class="tw-text-left tw-pb-0 tw-m-0 __product-title__wVt2z">{{ all_products[block.settings.fourth_product].title }}</p>
                <p class="__intsta-name__gWMwY">{{ block.settings.fourth_id }}</p>
            </div>
            <p class="tw-uppercase tw-underline tw-black tw-text-xs tw-font-medium tw-text-left tw-pb-0 __shop-now-mob__3QjBG">Shop Now</p>
          </a>
    </div>
  </div>
</div>

<style>
  .__section-header__2rZLU {
    font-size: 1.75rem;
    font-family: Matiere;
    line-height: 1.2;
    font-weight: 400;
  }
  .__image-wrapper__yww6W {
    scroll-snap-type: x mandatory;
  }
  .__card__3uH-j {
    min-width: 235px;
    margin-right: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    align-items: inherit;
  }
  @media (max-width: 640px) {
    .__card__3uH-j {
      margin-right: 14px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .__card__3uH-j:last-child {
      min-width: calc(235px + 1rem);
    }
  }
  @media (min-width: 640px) {
    .__product-info__bUfJP {
        display: none;
    }
    .__card__3uH-j:hover>.__overlay__5KAMe {
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(83, 83, 83, 0.6);
      position: absolute;
      top: 0;
      transition: .5s ease;
    }
    .__card__3uH-j:hover .__product-info__bUfJP {
      display: block;
      position: absolute;
      color: white;
      bottom: 20px;
      width: 100%;
    }
  }
  .__insta-icon__c8gFS {
    position: absolute;
    top: 8px;
    left: 1.5rem;
  }
  .__card__3uH-j:hover>.__insta-icon__c8gFS {
    display: none;
  }
  .__product-title__wVt2z {
    font-family: Matiere;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: normal;
    max-width: 8rem;
  }
  .__product-info__bUfJP .__shop-now__3LOOL {
    font-family: 'Agrandir';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.104rem;
    font-weight: 500;
    text-decoration: underline;
    color: white;
    margin-bottom: 75px;
    display: block;
  }
  .__intsta-name__gWMwY {
    font-size: 12px;
    font-family: 'Agrandir Narrow';
  }
  .__shop-now-mob__3QjBG {
    font-family: Agrandir;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.9px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
  }
</style>


</div>