<section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
    <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
        {{ 'sections.article-001-content.article_type_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
        {{ 'sections.article-001-content.article_title_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
        {{ 'sections.article-001-content.article_subtitle_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-001-content.article_author_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-001-content.article_date_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 sm:tw-px-12 sm:tw-py-8 msm:tw-py-2 tw-w-full">
    <div class="sm:tw-pr-2">
        <img src="{{ 'temp_article0011.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
    <div class="sm:tw-pl-2">
        <img src="{{ 'temp_article0012.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
</section>

<section class="page-width tw-text-start">
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p1_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p2_html' | t}}
    </p>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h1_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p3_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 sm:tw-px-12 sm:tw-py-8 msm:tw-py-2 tw-w-full">
    <div class="sm:tw-pr-2">
        <img src="{{ 'temp_article0013.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
    <div class="sm:tw-pl-2">
        <img src="{{ 'temp_article0014.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
</section>

<section class="page-width">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h2_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p4_html' | t}}
    </p>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h3_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p5_html' | t}}
    </p>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h4_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p6_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto tw-max-w-4xl tw-justify-items-center tw-items-center tw-w-full">
        <img src="{{ 'table1-@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-xl msm:tw-px-16 tw-mx-auto" alt="temp">
    </div>
</section>

<section class="page-width">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h5_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p7_html' | t}}
    </p>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h6_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-001-content.article_p8_html' | t}}
    </p>
    <h2 class="tw-text-center tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-16 sm:tw-pt-16 sm:tw-pb-8 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h7_html' | t}}
    </h2>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto tw-max-w-4xl tw-justify-items-center tw-items-center">
        <img src="{{ 'table-2@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-xl msm:tw-px-16 tw-mx-auto" alt="temp">
    </div>
</section>

<section class="page-width tw-pb-12">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-pt-8 sm:tw-pb-4 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h8_html' | t}}
    </h2>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-pb-8 sm:tw-pt-4 msm:tw-py-2">
        {{ 'sections.article-001-content.article_h9_html' | t}}
    </h2>
    <a href="https://www.sheertex.com/collections/all" class="tw-font-medium tw-font-sans tw-uppercase sm:tw-px-36 tw-py-8">
        {{ 'sections.article-001-content.article_a1_html' | t}}
    </a>
</section>

{% schema %}
{
  "name": "Magazine Article 001",
  "locales": {
    "en": {
        "article_type_html": "article",
        "article_title_html": "A Sheer Outlier",
        "article_subtitle_html": "What Makes Sheertex Different From Other Tights? You've heard the claims: Sheertex makes the World's Most Resilient Tights. But what exactly makes them a worthwhile investment in your wardrobe?",
        "article_author_html": "staff contributor",
        "article_date_html": "February 10, 2022",
        "article_p1_html": "Picture this: You're running late for work. Getting dressed, you pull on a pair of tights and notice there's a hole in the toe. Whatever, no one will see that anyway. You throw on your boots, take one quick look in the mirror and you're out the door. Or so you thought; you look down to realize that your tights ripped after getting snagged in your boot zipper. By the time you finally make it to the office following a hasty outfit change, you're over 30 minutes late. Wonderful.",
        "article_p2_html": "Now, imagine a world with Sheertex, where that scenario would never happen. But what exactly makes Sheertex tights the most resilient tights in the world?",
        "article_h1_html": "No More Rips, Runs, Snags, or Tears",
        "article_p3_html": "Made with one of the strongest polymers known to humankind, Sheertex's patent-pending knit is made to withstand the impossible. You no longer have to reserve tights for special occasions where you'll safely spend most of your time sitting neatly with your legs crossed. Instead, Sheertex is made for real life living. So go on, do your thing - and never worry about rips, runs, snags, or tears in your tights again. Plus, every pair of Sheertex comes with a 90-day no-snag 90-day guarantee.",
        "article_h2_html": "Soft As Regular Tights, Stronger Than Steel",
        "article_p4_html": "Wondering what the world's most resilient tights feel like? They're pretty much as comfortable and soft as your regular tights - only way more resilient. As soft as your regular tights but stronger than steel, these sheers are made to last. We promise that you've never had tights like these before.",
        "article_h3_html": "Made Sustainably And Ethically",
        "article_p5_html": "It took a lot of sheer grit and determination, but we're proud to have finally created the world's first long-lasting tights. You can now say goodbye to disposable tights that inevitably rip and get sent to the landfill; instead, Sheertex is offering a more sustainable option that has become a wardrobe staple for thousands of happy trendsetters. On top of that, all of our tights are made ethically in our factory in Montreal, Canada.",
        "article_h4_html": "Inclusive Sizing",
        "article_p6_html": "With all kinds of different people with all kinds of different bodies in this world, you can bet that we've made a point to be as inclusive as possible. With sizing ranging from XS-3XL, Sheertex tights are designed to fit everybody and every body. Not sure which size you are? Use the size guide below to find out.",
        "article_h5_html": "A Style For Everyone",
        "article_p7_html": "Everyone is different, which is why we set out to offer a variety of colors, patterns, and deniers (thickness of fabric) so that we've got something for everyone, no matter your personal style. From timeless classics to patterns to eye-catching colors and everyday nudes, there's a pair of Sheertex for everybody for every occasion.",
        "article_h6_html": "Sheertex vs. Competitors",
        "article_p8_html": "You've heard the claims: Sheertex makes the World's Most Resilient Tights. But what exactly makes them a worthwhile investment in your wardrobe? And what is the difference between Sheertex and your regular, run-of-the-mill department store pantyhose? Or the difference between Sheertex's resilient knit and other premium brand tights?",
        "article_h7_html": "With so many questions to answer, it looks like there's only one thing to do. It's time for a good ol' classic face-off!",
        "article_h8_html": "What Is Your Favourite Style?",
        "article_h9_html": "Find your perfect pair now - there's something for everybody and every body.",
        "article_a1_html": "shop sheertex tights &rarr;"
    },
    "fr": {
        "article_type_html": "article",
        "article_title_html": "Surprenant, mais vrai.",
        "article_subtitle_html": "Pourquoi Sheertex est-il dans une classe à part?",
        "article_author_html": "Contributeur interne",
        "article_date_html": "February 10, 2022",
        "article_p1_html": "Ça t'arrive plus souvent qu'à notre tour. Lundi matin, tu es en retard au travail. En t'habillant, tu remarques un petit trou à tes collants. Pas de problème, c'est à l'orteil, personne ne le remarquera. Tu enfiles tes bottes, tu jettes un dernier coup d'œil dans la glace et vlan, tu es prête à partir! Juste avant de passer la porte, tu remarques que la fermeture éclair de ta botte a déchiré tes collants. Résultat des courses : tu arrives 30 minutes en retard au travail. Super.",
        "article_p2_html": "Maintenant, imagine un monde où, grâce à Sheertex, ce scénario relèverait de la science-fiction. Comment en sommes-nous arrivés à créer les collants les plus résilients au monde? Voici la petite histoire des collants Sheertex.",
        "article_h1_html": "Fini les déchirures, les imprévus et les larmes",
        "article_p3_html": "Fabriqué avec l'un des polymères les plus résistants de l'univers, le matériel en instance de brevet de Sheertex est conçu pour faire face à l'impossible. Tu n'as plus besoin de mettre tes collants favoris de côté pour les occasions spéciales, où tu t'assoiras sagement les jambes croisées de peur de les abimer. Les collants Sheertex sont faits pour la vie, la vraie. Alors, vas-y, mène ta vie comme tu l'entends, sans jamais te soucier des mailles, des déchirures ou des accrocs. De plus, chaque paire de Sheertex vient avec une garantie de 90 jours sans déchirure. Que demander de plus?",
        "article_h2_html": "Doux pour la peau, résistant comme l'acier",
        "article_p4_html": "Tu te demandes comment on se sent lorsqu'on enfile la paire de collants la plus résiliente au monde. C'est aussi confortable que des collants réguliers, mais en plus résistants, tout simplement. Faits pour durer, ils sont aussi doux que les autres paires, mais plus résistants que l'acier. Tu n'as jamais eu une paire de collants comme celle-là, nous pouvons le garantir!",
        "article_h3_html": "Durable et éthique",
        "article_p5_html": "Ça nous a pris une bonne dose de courage et de détermination, mais le résultat en demeure des plus satisfaisants : nous avons créé les premiers collants au monde faits pour durer longtemps. Tu peux maintenant dire adieu à ces tonnes de paires qui déchirent en un rien de temps et qui prennent rapidement le chemin de la poubelle. Sheertex offre un produit durable, qui est vite devenu un essentiel pour les quelques milliers de visionnaires qui l'ont déjà adopté. Et en plus, tous nos collants sont fabriqués de façon éthique dans notre usine de Montréal, au Canada. Qu'attends-tu?",
        "article_h4_html": "Des tailles inclusives",
        "article_p6_html": "Ce monde est fait d'humains de toutes les sortes. Il n'y a pas deux corps pareils. C'est pourquoi nous avons à cœur de créer une charte de grandeurs la plus inclusive possible. Avec des tailles allant du XS au 3XL, les collants Sheertex sont conçus pour s'adapter à ton corps, oui oui, le tien. Ta taille te fait hésiter? La charte ci-dessous devrait t'aider.",
        "article_h5_html": "Chacun son style",
        "article_p7_html": "Tout le monde voit la vie à sa façon. Afin que chacun y trouve son compte, nous proposons une variété de couleurs, de motifs et de deniers (l'épaisseur du tissu) pour tous les styles. Des plus grands classiques aux motifs et aux couleurs surprenantes, jusqu'au beige naturel de tous les jours, il y a une paire de Sheertex qui t'attend pour chaque occasion.",
        "article_h6_html": "Sheertex vs la compétition",
        "article_p8_html": "Vous le savez maintenant : Sheertex fabrique les collants les plus résilients au monde. Mais qu'est-ce qui te ferait dépenser pour les ajouter à ta garde-robe? Quelle en serait la valeur ajoutée comparée à ceux que tu as l'habitude d'acheter au commerce du coin? Quelle est la différence entre Sheertex et la marque prestigieuse que tu te permets de temps à autre.",
        "article_h7_html": "Devant autant de questions, il ne reste plus qu'une chose à faire. Il faut maintenant sortir les preuves!",
        "article_h8_html": "Prête à te commettre à Sheertex?",
        "article_h9_html": "Trouve ta paire idéale dès maintenant. Il y en a une pour tout le monde!",
        "article_a1_html": "Magasine maintenant &rarr;"
    }
  }
}
{% endschema %}