<section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
    <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
        {{ 'sections.article-009-content.article_type_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
        {{ 'sections.article-009-content.article_title_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
        {{ 'sections.article-009-content.article_subtitle_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-009-content.article_author_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-009-content.article_date_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-009-content.article_photos_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-009-content.article_photographer_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl">
        <img src="{{ 'Lab_Article009_Img1_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="page-width tw-text-start">
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p1_html' | t}}
    </p>
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-009-content.article_h1_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p2_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1 sm:tw-px-10 sm:tw-pt-8 sm:tw-pb-4 msm:tw-py-2 tw-w-full">
    <div class="tw-text-center msm:tw-px-5 tw-pr-1">
        <img src="{{ 'Lab_Article009_Img2_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="tw-text-center msm:tw-px-5 tw-pl-1">
        <img src="{{ 'Lab_Article009_Img3_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-text-center sm:tw-pb-8">
    <p class="tw-mx-auto tw-font-bold tw-text-sm tw-uppercase tw-tracking-widest tw-mb-0">
        {{ 'sections.article-009-content.article_p3_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-uppercase tw-tracking-widest msm:tw-px-8">
        {{ 'sections.article-009-content.article_p4_html' | t}}
    </p>
</section>

<section class="page-width tw-text-start">
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p5_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p6_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1 sm:tw-px-10 sm:tw-pt-8 sm:tw-pb-4 msm:tw-py-2 tw-w-full">
    <div class="tw-text-center msm:tw-px-5 tw-pr-1">
        <img src="{{ 'Lab_Article009_Img4_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="tw-text-center msm:tw-px-5 tw-pl-1">
        <img src="{{ 'Lab_Article009_Img5_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-text-center sm:tw-pb-8">
    <p class="tw-mx-auto tw-font-bold tw-text-sm tw-uppercase tw-tracking-widest tw-mb-0">
        {{ 'sections.article-009-content.article_p7_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-uppercase tw-tracking-widest msm:tw-px-8">
        {{ 'sections.article-009-content.article_p8_html' | t}}
    </p>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-009-content.article_h2_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p9_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p10_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p11_html' | t}}
    </p>
</section>

<section class="page-width">
    <h2 class="tw-text-center tw-font-serif sm:tw-text-7xl msm:tw-text-3xl sm:tw-px-6 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-009-content.article_h3_html' | t}}
    </h2>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1 sm:tw-px-10 sm:tw-pt-8 sm:tw-pb-4 msm:tw-py-2 tw-w-full">
    <div class="tw-text-center msm:tw-px-5 tw-pr-1">
        <img src="{{ 'Lab_Article009_Img6_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="tw-text-center msm:tw-px-5 tw-pl-1">
        <img src="{{ 'Lab_Article009_Img7_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-text-center sm:tw-pb-8">
    <p class="tw-mx-auto tw-font-bold tw-text-sm tw-uppercase tw-tracking-widest tw-mb-0">
        {{ 'sections.article-009-content.article_p12_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-uppercase tw-tracking-widest msm:tw-px-8">
        {{ 'sections.article-009-content.article_p13_html' | t}}
    </p>
</section>

<section class="page-width tw-text-start sm:tw-pb-12 msm:tw-pb-8">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-009-content.article_h4_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p14_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p15_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-009-content.article_p16_html' | t}}
    </p>
</section>

{% schema %}
{
  "name": "Magazine Article 009",
  "locales": {
    "en": {
        "article_type_html": "article",
        "article_title_html": "Women In Tech: Resilience Against The Odds.",
        "article_subtitle_html": "The future is female, as they say, and women are changing the game even when the odds are stacked against them.",
        "article_author_html": "staff contributor",
        "article_date_html": "March 8, 2022",
        "article_photos_html": "photos",
        "article_photographer_html": "Oumayma Tanfous",
        "article_p1_html": "The tech world has long been known for its boys club status, with women remaining gravely underrepresented—only a mere 25% of its workforce is estimated to be female, meaning that women have to fight tooth and nail to establish an equal place among their male counterparts. However, that isn't to say that it can't be done. Here's what three trailblazing young women have to say about empowering themselves to make their mark and change an industry that's long overdue for a gender revolution. ",
        "article_h1_html": "What is the greatest challenge you've encountered as a woman working in your industry?",
        "article_p2_html": "Sandrine: Not being treated as an equal among my peers. When I first got started in my career, my opinions were regularly invalidated in meetings with colleagues, often followed by forced laughter. I would say that the hardest part was keeping my cool and not doubting myself, despite the invalidating comments that added up over time. ",
        "article_p3_html": "Sandrine",
        "article_p4_html": "Lab Technician Specialized in Coding, AI, and Neuroscience",
        "article_p5_html": "Débora: It took me a while to find my place. Overcoming the fear of being perceived as incompetent or being judged about the way I dressed was not an easy process. Now, I don't feel like I need to act or look a certain way in order to gain authority and credibility. ",
        "article_p6_html": "Adin: I still sometimes (ahem, often) struggle with overcoming imposter syndrome or self-doubting thoughts. I tend to second guess myself and assume that everyone around me is smarter or more accomplished. I just have to remind myself that I've worked hard to get to where I am and that I do belong here.",
        "article_p7_html": "Débora",
        "article_p8_html": "Tech Lead, Computer Vision",
        "article_h2_html": "What advice would you give to other women trying to break into the tech world?",
        "article_p9_html": "Sandrine: Set boundaries. Your opinions deserve to be voiced, understood, and integrated within a discussion—never let anyone interrupt you as you're in the midst of establishing your place. Especially in the beginning, it's important to show others how you expect to be treated. Your limits will be well-defined and it'll become second nature for others to respect them.",
        "article_p10_html": "Débora: Do not tone yourself down in order to fit in. You do not have to be softer, louder, more modest, etc. The parts of yourself that you may criticize are what make you unique and bring more value to your company and to the world than you can imagine.",
        "article_p11_html": "Adin: Honestly, just go for it. Try a bunch of things and don't be afraid to fail, because things might not work out in round one (or two, or three). The important thing is to keep believing in yourself and not give up.",
        "article_h3_html": "\"You do not have to be softer, louder, more modest, etc. The parts of yourself that you may criticize are what make you unique\"",
        "article_p12_html": "Adin",
        "article_p13_html": "Doctorate in Machine Learning (AI) and Coding Pro",
        "article_h4_html": "If you could pick only one object that represents what you do and who you are, what would it be?",
        "article_p14_html": "Sandrine: A strong cup of coffee. It's got a bold taste, the ability to fuel hard work, and keeps the energy high and alive.",
        "article_p15_html": "Débora: My wooden statue. It's a souvenir from my home country, Cameroun, but I also love its aesthetic flaws. The contrast between the two types of wood shows just how beautiful a “defect” can be. The statue's calm pose also symbolizes that even when you run into a problem, everything will work out in the end.",
        "article_p16_html": "Adin: My laptop and specifically its case—I've sewed on a bunch of patches from national parks that I've visited. I'm really into sewing and am a bit of an eco warrior, so I try to minimize my consumption to upcycle or make my own clothes."
    },
    "fr": {
        "article_type_html": "article",
        "article_title_html": "Femmes dans la tech, contre vents et marées.",
        "article_subtitle_html": "L'avenir appartient aux femmes, comme on dit, et de fait les femmes changent le monde même quand tout joue contre elles.",
        "article_author_html": "Contributeur interne",
        "article_date_html": "March 8, 2022",
        "article_photos_html": "photos",
        "article_photographer_html": "Oumayma Tanfous",
        "article_p1_html": "L'univers de la tech a longtemps été dominé par la culture du boys club et les femmes continuent d'y être largement sous-représentées : on estime qu'elles constituent à peine 25 % de la main-d'œuvre. Pour se tailler une place égale à celle de leurs homologues masculins, elles doivent se battre bec et ongles. Mais ce défi n'est pas impossible à relever. Ici, trois femmes qui ont ouvert la voie expliquent comment se donner les moyens de laisser sa marque et de transformer une industrie où la déconstruction des stéréotypes de genre est plus que nécessaire.",
        "article_h1_html": "Quelle est la plus grande difficulté que vous avez rencontrée en tant que femme travaillant dans le secteur des technologies?",
        "article_p2_html": "Sandrine: Ne pas être traitée d'égal à égal par mes pairs. Au début de ma carrière, mes opinions étaient constamment discréditées par mes collègues durant les réunions, et ça venait souvent avec de gros rires gras. Je dirais que le plus difficile a été de rester calme et de ne pas perdre confiance en mes moyens, malgré les commentaires invalidants qui se sont accumulés au fil du temps. ",
        "article_p3_html": "Sandrine",
        "article_p4_html": "Technicienne de laboratoire spécialisée dans la programmation, l'IA et les neurosciences",
        "article_p5_html": "Débora: Ça m'a pris du temps avant de faire ma place. Surmonter la crainte d'être perçue comme incompétente ou d'être jugée sur ma façon de m'habiller n'a pas été facile. Aujourd'hui, je ne sens pas le besoin d'agir ou de paraître d'une certaine manière pour avoir de l'influence et de la crédibilité. ",
        "article_p6_html": "Adin: J'ai encore parfois (hum, souvent) le syndrome de l'imposteur ou une mauvaise estime de moi. J'ai tendance à douter de mes capacités et à supposer que tout le monde autour de moi est plus brillant et plus talentueux. Je dois me rappeler que j'ai travaillé fort pour réussir et que je suis à ma place.",
        "article_p7_html": "Débora",
        "article_p8_html": "Responsable des technologies, vision artificielle",
        "article_h2_html": "Quel conseil donneriez-vous aux femmes qui tentent de percer dans le monde des technologies?",
        "article_p9_html": "Sandrine: Fixez vos limites. Vos opinions méritent d'être exprimées, comprises et intégrées à la discussion. Ne laissez jamais personne vous interrompre alors que vous prenez position. Surtout au début, c'est important de montrer aux autres comment vous vous attendez à être traitée. Vos limites seront bien claires et les autres les respecteront naturellement.",
        "article_p10_html": "Débora: Ne vous effacez pas dans le but d'être acceptée. Vous n'avez pas à être plus douce, à parler plus fort, à être plus modeste… Les aspects de votre personnalité que vous censurez peut-être sont ceux qui vous rendent uniques, ils apportent plus de valeur à l'entreprise et à la société que vous l'imaginez.",
        "article_p11_html": "Adin: Bien franchement, je dirais simplement de foncer. Essayez toutes sortes de choses et ne craignez pas l'échec, parce que ça se peut que ça ne marche pas du premier coup (ni du deuxième ni du troisième). L'important, c'est de croire en soi et de ne pas abandonner.",
        "article_h3_html": "\"Vous n'avez pas à être plus douce, à parler plus fort, à être plus modeste… Les aspects de votre personnalité que vous censurez peut-être sont ceux qui vous rendent uniques\"",
        "article_p12_html": "Adin",
        "article_p13_html": "Docteure en apprentissage machine (IA) et pro du codage",
        "article_h4_html": "Si vous deviez choisir un seul objet qui représente votre travail et qui vous êtes, quel serait-il?",
        "article_p14_html": "Sandrine: Un café bien corsé. Il est fort, a la capacité de soutenir le travail acharné, de donner de l'énergie et de rendre dynamique.",
        "article_p15_html": "Débora: Ma statue en bois. C'est un souvenir de mon pays d'origine, le Cameroun. J'aime aussi ses petites imperfections esthétiques. Le contraste entre les deux essences de bois montre à quel point un « défaut » peut être beau. Le calme apparent de la statue évoque l'idée que, même si on se bute à un problème, tout finit toujours par s'arranger.",
        "article_p16_html": "Adin: Mon ordinateur portable, surtout l'étui. J'y ai cousu plusieurs écussons des parcs nationaux que j'ai visités. J'adore la couture et je suis un peu une écoguerrière, je tente donc de limiter ma consommation en fabriquant mes propres vêtements ou en leur donnant une nouvelle vie."
    }
  }
}
{% endschema %}