<section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
    <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
        {{ 'sections.article-002-content.article_type_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
        {{ 'sections.article-002-content.article_title_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
        {{ 'sections.article-002-content.article_subtitle_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-002-content.article_author_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-002-content.article_date_html' | t}}
    </p>
</section>

<section class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center tw-relative">
    <img src="{{ 'CYOA_Desktop-HP-Slider.jpg' | asset_img_url: 'master' }}" class="msm:tw-hidden" alt="temp">
    <img src="{{ 'CYOA_Mobile-HP-Slider.jpg' | asset_img_url: 'master' }}" class="sm:tw-hidden tw-w-full" alt="temp">
    <div class="tw-absolute tw-mx-auto tw-justify-items-center tw-items-center tw-text-center tw-w-full">
        <p class="tw-mx-auto tw-font-serif sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight tw-mb-0 tw-text-white">
            {{ 'sections.article-002-content.article_p1_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-narrow sm:tw-px-40 msm:tw-px-6 sm:tw-text-xl tw-leading-normal tw-mb-7 tw-text-white">
            {{ 'sections.article-002-content.article_p2_html' | t}}
        </p>
        <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-m-auto tw-px-32 msm:tw-px-12 tw-py-3 tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
            {{ 'sections.article-002-content.article_a1_html' | t}}
        </a>
    </div>
</section>

<section class="page-width tw-py-12 sm:tw-px-20 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1 tw-gap-3">
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_03_0325@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_01_0071@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-pt-3 tw-pb-6 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_h1_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif tw-text-3-5-xl tw-leading-tight tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_p3_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-leading-normal tw-max-w-lg msm:tw-px-4 tw-mb-8">
        {{ 'sections.article-002-content.article_p4_html' | t}}
    </p>
    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-m-auto tw-px-32 msm:tw-px-12 tw-py-3 tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-002-content.article_a1_html' | t}}
    </a>
</section>

<section class="tw-pt-12 tw-pb-28 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-2">
        {{ 'sections.article-002-content.article_dont_believe_html' | t}}

    </p>
    <p class="tw-mx-auto tw-font-sans tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-0 msm:tw-hidden">
        {{ 'sections.article-002-content.article_hover_html' | t}}
    </p>
    <section class="page-width sm:tw-px-52 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1">
        <div class="msm:tw-px-6 msm:tw-mb-6">
            <video class="msm:tw-hidden" id="vid1" onmouseover="mouseOver1()" onmouseout="mouseOut1()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_thegoinggetsrough.png?v=1632506309" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_-_thegoinggetsrough_1200.webm?v=1632497585">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_thegoinggetsrough.png?v=1632506309" loop="" controls="" preload="" muted="" playsinline="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_thegoinggetsrough_v2_800.mp4?v=1632497548">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_with_sheertex_html' | t}}
            </p>
        </div>
        <div class="msm:tw-px-6">
            <video class="msm:tw-hidden" id="vid2" onmouseover="mouseOver2()" onmouseout="mouseOut2()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_thegoinggetsrough.png?v=1632506309" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_-_thegoinggetsrough_1200.webm?v=1632497585">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_thegoinggetsrough.png?v=1632506309" loop="" controls="" preload="" playsinline="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_thegoinggetsrough_v2_800.mp4?v=1632497548">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_regular_tights_html' | t}}
            </p>
        </div>
    </section>
</section>

<section class="page-width tw-pt-28 tw-pb-12 sm:tw-px-20 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1 tw-gap-3">
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_04_0613@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_05_0934@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-pt-3 tw-pb-6 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_h2_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif tw-text-3-5-xl tw-leading-tight tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_p5_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-leading-normal tw-max-w-lg msm:tw-px-4 tw-mb-8">
        {{ 'sections.article-002-content.article_p6_html' | t}}
    </p>
    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-m-auto tw-px-32 msm:tw-px-12 tw-py-3 tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-002-content.article_a1_html' | t}}
    </a>
</section>

<section class="tw-pt-12 tw-pb-28 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-2">
        {{ 'sections.article-002-content.article_dont_believe_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-4 msm:tw-mb-2 msm:tw-hidden">
        {{ 'sections.article-002-content.article_hover_html' | t}}
    </p>
    <section class="page-width sm:tw-px-52 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1">
        <div class="msm:tw-px-6 msm:tw-mb-6">
            <video class="msm:tw-hidden" id="vid3" onmouseover="mouseOver3()" onmouseout="mouseOut3()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_toughlove.png?v=1632506309" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_-_Toughlove_1200.webm?v=1632497585">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_toughlove.png?v=1632506309" loop="" controls="" preload="" playsinline="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_Toughlove_v2_800.mp4?v=1632497548">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_with_sheertex_html' | t}}
            </p>
        </div>
        <div class="msm:tw-px-6">
            <video class="msm:tw-hidden" id="vid4" onmouseover="mouseOver4()" onmouseout="mouseOut4()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_toughlove.png?v=1632506310" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_-_Toughlove_1200.webm?v=1632497585">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_toughlove.png?v=1632506310" loop="" controls="" preload="" playsinline="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_Toughlove_v2_800.mp4?v=1632497548">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_regular_tights_html' | t}}
            </p>
        </div>
    </section>
</section>

<section class="page-width tw-pb-10 tw-pt-28 sm:tw-px-20 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1 tw-gap-3">
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_07_1510@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
    <div class="msm:tw-px-6">
        <img src="{{ 'SHEERTEX_07_1664@2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="tw-pt-3 tw-pb-6 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_h3_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif tw-text-3-5-xl tw-leading-tight tw-max-w-lg tw-mb-4">
        {{ 'sections.article-002-content.article_p7_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-sm tw-leading-normal tw-max-w-lg msm:tw-px-4 tw-mb-8">
        {{ 'sections.article-002-content.article_p8_html' | t}}
    </p>
    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-m-auto tw-px-32 msm:tw-px-12 tw-py-3 tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-002-content.article_a1_html' | t}}
    </a>
</section>

<section class="tw-pt-12 tw-pb-28 tw-text-center tw-justify-items-center tw-items-center">
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-2">
        {{ 'sections.article-002-content.article_dont_believe_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-text-sm tw-leading-normal tw-max-w-lg tw-mb-4 msm:tw-hidden">
        {{ 'sections.article-002-content.article_hover_html' | t}}
    </p>
    <section class="page-width sm:tw-px-52 tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1">
        <div class="msm:tw-px-6 msm:tw-mb-6">
            <video class="msm:tw-hidden" id="vid5" onmouseover="mouseOver5()" onmouseout="mouseOut5()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_lookingsharp.png?v=1632506309" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_-_Lookingsharp_1200.webm?v=16324975859">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_lookingsharp.png?v=1632506309" loop="" controls="" preload="" playsinline="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITH_Lookingsharp_800.mp4?v=1632497549">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_with_sheertex_html' | t}}
            </p>
        </div>
        <div class="msm:tw-px-6">
            <video class="msm:tw-hidden" id="vid6" onmouseover="mouseOver6()" onmouseout="mouseOut6()" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_lookingsharp.png?v=1632506309" loop="" preload="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_-_Lookingsharp_1200.webm?v=1632497585">
            </video>
            <video class="sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210924_WITHOUT_lookingsharp.png?v=1632506309" loop="" controls="" preload="" playsinline="" muted="" width="100%" height="100%">
                <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/20210922_LookingSharp_without_compressed_v2_700.mp4?v=1632403745">
              </video>
            <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-sm tw-leading-normal tw-max-w-lg">
                {{ 'sections.article-002-content.article_regular_tights_html' | t}}
            </p>
        </div>
    </section>
</section>

{% schema %}
{
  "name": "Magazine Article 002",
  "locales": {
    "en": {
        "article_type_html": "article",
        "article_title_html": "Complete Your Story",
        "article_subtitle_html": "Long-lasting Tights Are No Longer a Fairytale. Once upon a time, wearing tights came with associated risks and responsibilities. Avoiding sharp objects, cute pets, and any spontaneous movements was the price we thought we had to pay to look good. But like many things we once accepted as an inconvenient reality, science eventually cracks the code. That moment for tights has arrived, and along with it, so has a whole new realm of possibilities. Say hello to the world's most resilient tights, where happily ever afters are, in fact, possible.",
        "article_author_html": "staff contributor",
        "article_date_html": "September 10, 2021",
        "article_p1_html": "Happily Ever Afters",
        "article_p2_html": "Engineered By Sheertex",
        "article_h1_html": "adventure 001",
        "article_p3_html": "When the Going Gets Rough",
        "article_p4_html": "Don't let what you wear limit what you can do. It's time to ditch those regular tights that tear and the clear nail polish you carry to fix them. Instead, throw on your Sheertex, grab your board, and live life the way it's intended to be lived: fearlessly and worry-free.",
        "article_h2_html": "adventure 002",
        "article_p5_html": "Tough Love",
        "article_p6_html": "Which would you rather: Look great in tights but worry that your favorite furry friends are going to trash them, or wear tights and give your pets all the love without a worry in the world? With Sheertex, you've got the go ahead to go wild.",
        "article_h3_html": "adventure 003",
        "article_p7_html": "Looking Sharp",
        "article_p8_html": "The best nights out are the ones where spontaneity is embraced. After all, life isn't about the destination; it's about the journey, with so much to be explored along the way. Our tights give you the freedom to indulge your curiosity and create memorable moments no matter where you are.",
        "article_a1_html": "shop sheertex",
        "article_dont_believe_html": "don't believe us? see for yourself",
        "article_hover_html": "Hover below to Complete Your Story",
        "article_with_sheertex_html": "with sheertex",
        "article_regular_tights_html": "regular tights"
    },
    "fr": {
        "article_type_html": "article",
        "article_title_html": "Choisissez votre propre aventure",
        "article_subtitle_html": "Les collants durables ne font plus partie d'un fantasme Il était une fois où le port d'un collant était synonyme de gestion de risques et d'extrême prudence. Se tenir à distance d'objets pointus et d'animaux de compagnie sympas, ou éviter tout faux mouvement était le prix que nous pensions devoir payer pour être beau. Mais comme pour bien des choses qui autrefois étaient acceptées comme des réalités gênantes et inévitables, la science est venue à bout du code. Ce jour est maintenant venu pour les collants, et avec lui, un monde de plusieurs possibilités. Dites bonjour aux collants les plus résilients du monde et à un rêve maintenant devenu réalité.",
        "article_author_html": "Contributeur interne",
        "article_date_html": "September 10, 2021",
        "article_p1_html": "Un conte de fées devenu réalité",
        "article_p2_html": "grâce à Sheertex",
        "article_h1_html": "Aventure 001",
        "article_p3_html": "Vaincre les obstacles",
        "article_p4_html": "Ne laissez pas les vêtements que vous portez vous freiner. Le temps est venu de vous débarrasser des collants qui déchirent au premier faux pas et du vernis à ongles transparent que vous utilisez pour les réparer. Faites plutôt le choix d'un collant Sheertex, puis prenez votre skate et vivez la vie comme elle doit être vécue : sans peur et sans souci.",
        "article_h2_html": "Aventure 002",
        "article_p5_html": "Amour féroce",
        "article_p6_html": "Que préférez-vous : Avoir fière allure tout en craignant que vos compagnons à fourrure ruinent vos collants, ou porter des collants qui vous permettent de donner à vos animaux chéris tout l'amour qu'ils méritent sans la moindre inquiétude? Grâce à Sheertex, vous avez le feu vert pour lâcher votre fou.",
        "article_h3_html": "Aventure 003",
        "article_p7_html": "Élégance absolue",
        "article_p8_html": "Les plus belles soirées sont celles où la spontanéité est au nombre des invités. Après tout, la vie ne se résume pas à une destination; c'est avant tout un voyage, avec une foule de choses à découvrir en cours de route. Nos collants vous donnent la liberté d'assouvir votre curiosité et de vivre des moments mémorables, où que vous soyez.",
        "article_a1_html": "MAGASINER",
        "article_dont_believe_html": "Ne croyez pas? Regardez par vous-même.",
        "article_hover_html": "Survolez ci-dessous pour choisir votre aventure.",
        "article_with_sheertex_html": "avec sheertex",
        "article_regular_tights_html": "collants réguliers"
    }
  }
}
{% endschema %}