<section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
    <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
        {{ 'sections.article-008-content.article_type_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
        {{ 'sections.article-008-content.article_title_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
        {{ 'sections.article-008-content.article_subtitle_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-008-content.article_author_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-008-content.article_date_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl">
        <img src="{{ 'Lab_Article008_Img1_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p1_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p2_html' | t}}
        <a href="https://www.youtube.com/watch?v=H77PL7SlI1M" class="tw-underline">{{ 'sections.article-008-content.article_a1_html' | t}}</a>
        {{ 'sections.article-008-content.article_p2-2_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1 sm:tw-px-10 sm:tw-py-8 msm:tw-py-2 tw-w-full">
    <div class="tw-text-center msm:tw-px-5 sm:tw-pr-1">
        <img src="{{ 'Lab_Article008_Img2_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta1_html' | t}}
            <a href="https://www.headspace.com/" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
    <div class="tw-text-center msm:tw-px-5 sm:tw-pl-1">
        <img src="{{ 'Lab_Article008_Img3_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta2_html' | t}}
            <a href="https://www.tenpercent.com/" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p3_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p4_html' | t}} 
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img4_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta3_html' | t}}
            <a href="https://www.calm.com/" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p5_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p6_html' | t}}
        <a href="https://vitruvi.ca/collections/essential-oils/products/breathe-essential-oil-blend" class="tw-underline">{{ 'sections.article-008-content.article_a2_html' | t}}</a>
        {{ 'sections.article-008-content.article_p6-2_html' | t}}
        <a href="https://vitruvi.ca/collections/essential-oils/products/golden-essential-oil-blend" class="tw-underline">{{ 'sections.article-008-content.article_a3_html' | t}}</a>
        {{ 'sections.article-008-content.article_p6-3_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img5_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta4_html' | t}}
            <a href="https://vitruvi.ca/" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p7_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p8_html' | t}}
        <a href="https://www.strava.com/" class="tw-underline">{{ 'sections.article-008-content.article_a4_html' | t}}</a>
        {{ 'sections.article-008-content.article_p8-2_html' | t}}
        <a href="https://www.shopbala.com/products/bala-bangles" class="tw-underline">{{ 'sections.article-008-content.article_a5_html' | t}}</a>
        {{ 'sections.article-008-content.article_p8-3_html' | t}}
        <a href="https://www.youtube.com/channel/UCxOmyRMAc2FCWiKtGPnVAgw/videos" class="tw-underline">{{ 'sections.article-008-content.article_a6_html' | t}}</a>
        {{ 'sections.article-008-content.article_p8-4_html' | t}}
    </p>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1 tw-space-x-2 sm:tw-px-10 sm:tw-py-8 msm:tw-py-2 tw-w-full">
    <div class="tw-text-center msm:tw-px-5">
        <img src="{{ 'Lab_Article008_Img6_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta5_html' | t}}
            <a href="https://www.strava.com/mobile" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
    <div class="tw-text-center msm:tw-px-5">
        <img src="{{ 'Lab_Article008_Img7_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta6_html' | t}}
            <a href="https://www.shopbala.com/products/bala-bangles" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width">
    <h2 class="tw-text-center tw-font-serif sm:tw-text-7xl msm:tw-text-3xl sm:tw-px-6 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p9_html' | t}}
    </h2>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p10_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p11_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img8_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-narrow tw-text-xs tw-tracking-widest tw-mb-1 tw-pt-4">
            <a href="https://www.goodreads.com/book/show/1963638.The_Untethered_Soul" class="tw-underline">{{ 'sections.article-008-content.article_a7_html' | t}}</a>{{ 'sections.article-008-content.article_cta7_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-narrow tw-text-xs tw-tracking-widest tw-mb-1">
            <a href="https://www.goodreads.com/book/show/6708.The_Power_of_Now" class="tw-underline">{{ 'sections.article-008-content.article_a8_html' | t}}</a>{{ 'sections.article-008-content.article_cta8_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-narrow tw-text-xs tw-tracking-widest tw-mb-1">
            <a href="https://www.goodreads.com/book/show/10256992-peace-is-every-breath" class="tw-underline">{{ 'sections.article-008-content.article_a9_html' | t}}</a>{{ 'sections.article-008-content.article_cta9_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-narrow tw-text-xs tw-tracking-widest tw-mb-1">
            <a href="https://www.goodreads.com/book/show/629.Zen_and_the_Art_of_Motorcycle_Maintenance" class="tw-underline">{{ 'sections.article-008-content.article_a10_html' | t}}</a>{{ 'sections.article-008-content.article_cta10_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-narrow tw-text-xs tw-tracking-widest tw-mb-1">
            <a href="https://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck" class="tw-underline">{{ 'sections.article-008-content.article_a11_html' | t}}</a>{{ 'sections.article-008-content.article_cta11_html' | t}}
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p12_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p13_html' | t}}
        <a href="https://www.sephora.com/ca/en/product/trinity-facial-toning-device-P402988?country_switch=ca&lang=en&skuId=1772151&om_mmc=ppc-GG_15951624184_138165845011_pla-1599028939608_1772151_576119594617_9061030_c&gclid=Cj0KCQiAmKiQBhClARIsAKtSj-lbmO-JicEZWvyo1Yt1LaRvvp_VNA1Wj_vZ6JbK78tKqcl1fSaFCs8aAjeHEALw_wcB&gclsrc=aw.ds" class="tw-underline">{{ 'sections.article-008-content.article_a12_html' | t}}</a>
        {{ 'sections.article-008-content.article_p13-2_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img9_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta12_html' | t}}
            <a href="https://www.sephora.com/ca/en/product/trinity-facial-toning-device-P402988?country_switch=ca&lang=en&skuId=1772151&om_mmc=ppc-GG_15951624184_138165845011_pla-1599028939608_1772151_576119594617_9061030_c&gclid=Cj0KCQiAmKiQBhClARIsAKtSj-lbmO-JicEZWvyo1Yt1LaRvvp_VNA1Wj_vZ6JbK78tKqcl1fSaFCs8aAjeHEALw_wcB&gclsrc=aw.ds" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p14_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p15_html' | t}}
        <a href="https://pomofocus.io/" class="tw-underline">{{ 'sections.article-008-content.article_a13_html' | t}}</a>
        {{ 'sections.article-008-content.article_p15-2_html' | t}} 
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img10_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta13_html' | t}}
            <a href="https://pomofocus.io/" class="tw-underline">
                {{ 'sections.article-008-content.article_here_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start">
    <h2 class="tw-mx-auto tw-font-serif sm:tw-text-5-5xl msm:tw-text-2xl sm:tw-px-36 sm:tw-py-8 msm:tw-py-2">
        {{ 'sections.article-008-content.article_p16_html' | t}}
    </h2>
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p17_html' | t}}
    </p>
</section>

<section class="page-width sm:tw-py-8 msm:tw-py-2 tw-justify-items-center tw-items-center">
    <div class="tw-mx-auto sm:tw-max-w-4xl tw-text-center">
        <img src="{{ 'Lab_Article008_Img11_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-font-medium tw-text-xs tw-uppercase tw-tracking-widest tw-pt-4">
            {{ 'sections.article-008-content.article_cta14_html' | t}}
            <a href="https://apps.apple.com/ca/app/5-minute-journal-self-care/id1062945251" class="tw-underline">
                {{ 'sections.article-008-content.article_cta15_html' | t}}
            </a> 
            & 
            <a href="https://play.google.com/store/apps/details?id=com.intelligentchange.fiveminutejournal&hl=en_CA&gl=US" class="tw-underline">
                {{ 'sections.article-008-content.article_cta16_html' | t}}
            </a>
        </p>
    </div>
</section>

<section class="page-width tw-text-start tw-pb-16">
    <p class="tw-mx-auto tw-font-narrow sm:tw-text-2xl sm:tw-px-36">
        {{ 'sections.article-008-content.article_p18_html' | t}}
        <a href="https://www.intelligentchange.com/products/the-five-minute-journal" class="tw-underline">{{ 'sections.article-008-content.article_a14_html' | t}}</a>
        {{ 'sections.article-008-content.article_p18-2_html' | t}}
    </p>
</section>

{% schema %}
{
  "name": "Magazine Article 008",
  "locales": {
    "en": {
        "article_type_html": "article",
        "article_title_html": "Self-Care Guide for the Digital Native",
        "article_subtitle_html": "In the age of remote work and digital living, disconnecting can feel daunting. But who's to say that our time spent online can't be used to better our mental health instead of worsening it? We've put together some tech-based pro tips and gift ideas to encourage self-care, help you create your own safe space, and harness the powers of tech for good instead of evil. It's time to close those work tabs and focus on you.",
        "article_author_html": "staff contributor",
        "article_date_html": "February 23, 2022",
        "article_p1_html": "1. Lean into meditation",
        "article_p2_html": "We had to start off with a classic. If you're new to meditation, Headspace is an excellent option for getting to know the basics. Their animated Netflix series,",
        "article_p2-2_html": "is also worth exploring; it's rich with techniques to help you jumpstart your practice. Looking for something a bit more advanced? Ten Percent Happier offers guided meditation courses led by top mindfulness experts, a podcast, and more, all intended to help you become your happiest self.",
        "article_cta1_html": "Check out Headspace",
        "article_cta2_html": "Check out Ten Percent Happier",
        "article_p3_html": "2. Check in with yourself",
        "article_p4_html": "Much in the same vein as meditation, Calm's mission is to \"help you improve your health and happiness\". This app helps you work on improving your sleep cycle, reducing your stress and anxiety, improving your focus, among other self-improvement categories.",
        "article_cta3_html": "Learn more about calm",
        "article_p5_html": "3. Wind down with a diffuser",
        "article_p6_html": "Say hello to the sleekest diffuser you've ever seen. Available in three different models in several calming earthy colors, the Vitruvi Diffuser is an absolute must-have for any zen space. Pick your essential oil scent (we recommend",
        "article_p6-2_html": "and",
        "article_p6-3_html": "), turn it on, and feel your tension melt away.",
        "article_cta4_html": "buy your vitruvi diffuser ",
        "article_p7_html": "4. Get your body moving",
        "article_p8_html": "We all know how important it is to get some good ol' exercise every day. If you're into cycling or running, you've likely already heard of",
        "article_p8-2_html": ". It allows you to track and share your workouts and routes as well as follow friends to inspire your next running or cycling circuit. If you're more of a stay-at-home athlete, mix fashion with function with",
        "article_p8-3_html": ". Their wrist/ankle bangle weights make a super cute addition to any of their virtual workouts (which you can",
        "article_p8-4_html": ").",
        "article_cta5_html": "download strava ",
        "article_cta6_html": "check out bala bangles ",
        "article_p9_html": "Harness the powers of tech for good instead of evil. It's time to close those work tabs and focus on you.",
        "article_p10_html": "5. Dive into some mindful must-reads",
        "article_p11_html": "Ah, reading: the original form of escapism. Leave all memory of your hectic day behind by grabbing your tablet and diving into one of these mindful staff-recommended reads. Not a big reader? No sweat—they're all available in audiobook format, too.",
        "article_cta7_html": "by Michael A. Singer",
        "article_cta8_html": "by Eckhart Tolle",
        "article_cta9_html": "by Thich Nhat Hanh",
        "article_cta10_html": "by Robert M. Pirsig",
        "article_cta11_html": "by Mark Manson",
        "article_p12_html": "6. Upgrade (and tech-ify) your skincare routine",
        "article_p13_html": "If you're going to add a little extra self-care to your skincare routine, why not go with a new gadget?",
        "article_p13-2_html": "is clinically tested to improve the facial contour, tone, and reduce appearance of wrinkles using microcurrent technology. Think of it like a handheld fountain of youth.",
        "article_cta12_html": "Buy it ",
        "article_p14_html": "7. Remember to take a break",
        "article_p15_html": "When juggling multiple tasks and trying to meet fast-approaching deadlines, it can be easy to forget just how necessary it is to take breaks throughout the work day (spoiler alert: it actually helps boost productivity).",
        "article_p15-2_html": "is a web and mobile app that is intended to help you optimize your workflow through a series of timers that actively reminds you to take breaks.",
        "article_cta13_html": "Learn more about pomofocus ",
        "article_p16_html": "8. Start journaling",
        "article_p17_html": "There are plenty of benefits to journaling, but the main takeaway is that it's an excellent way to process emotions and put your goals down in writing. The Five Minute Journal is a digital journaling app filled with daily affirmations and prompts to help you reflect and create a happier reality. And we know, you're busy—that's why this is so great. All you need is five minutes.",
        "article_cta14_html": "Download the App for ",
        "article_cta15_html": "Apple ",
        "article_cta16_html": "Android",
        "article_p18_html": "PS. It's also available as a physical journal,",
        "article_p18-2_html": "in case you prefer putting a good ol' pen to paper.",
        "article_here_html": "here",
        "article_a1_html": "Headspace Guide to Meditation,",
        "article_a2_html": "Breathe",
        "article_a3_html": "Golden Wind",
        "article_a4_html": "Strava",
        "article_a5_html": "Bala Bangles",
        "article_a6_html": "check out for free here",
        "article_a7_html": "The Untethered Soul",
        "article_a8_html": "The Power of Now",
        "article_a9_html": "Peace is Every Breath",
        "article_a10_html": "Zen and the Art of Motorcyle Maintenance",
        "article_a11_html": "The Subtle Art of Not Giving a F*ck",
        "article_a12_html": "NuFACE Trinity Facial Tonal Device",
        "article_a13_html": "Pomofocus",
        "article_a14_html": "physical journal"
    },
    "fr": {
        "article_type_html": "article",
        "article_title_html": "Petit guide pour prendre soin de soi à l’ère du numérique",
        "article_subtitle_html": "Depuis la montée en flèche du télétravail, nous comptons sur le numérique plus que jamais et se déconnecter semble impossible. Mais qui a dit que notre temps d’écran devait aggraver notre état mental plutôt que de contribuer à l’améliorer? Nous avons donc compilé quelques trucs et idées cadeaux pour vous encourager à utiliser la technologie à bon escient et à créer une bulle où vous vous sentirez en sécurité. Allez, c’est le moment de mettre en veille vos courriels et de penser à vous.",
        "article_author_html": "Contributeur interne",
        "article_date_html": "February 23, 2022",
        "article_p1_html": "1. Méditez",
        "article_p2_html": "Bien sûr, nous devions commencer avec un classique. Si vous n’avez jamais essayé la méditation, l’application Headspace est une bonne façon d’en comprendre les bases. Leur série animée, diffusée par Netflix,",
        "article_p2-2_html": "vaut la peine d’être vue, car on y apprend une foule de techniques pour enrichir votre pratique. Si vous n’en êtes pas à vos premières armes, Ten Percent Happier vous propose des cours de méditation guidée, dirigés par des experts, un balado, et plus encore, tout ça dans le but de vous insuffler tout le bonheur que vous méritez.",
        "article_cta1_html": "Découvrez Headspace",
        "article_cta2_html": "Découvrez Ten Percent Happier",
        "article_p3_html": "2. Prenez soin de vous",
        "article_p4_html": "Un peu dans le même esprit que la méditation, la mission de Calm est de « contribuer à améliorer votre santé et votre bien-être ». Cette application vous aidera à adoucir votre cycle de sommeil, réduire votre stress et votre anxiété, parfaire votre focus et d’autres façon de prendre soin de soi.",
        "article_cta3_html": "Découvrez calm",
        "article_p5_html": "3. Relaxez avec un diffuseur",
        "article_p6_html": "Il n’est pas seulement utile, il est aussi splendide. Un indispensable pour compléter votre espace zen, le diffuseur Vitruvi est disponible dans plusieurs modèles et couleurs apaisantes. Choisissez l’huile essentielle qui vous plait (nous avons un faible pour",
        "article_p6-2_html": "et",
        "article_p6-3_html": "), allumez-le, puis sentez le calme s’emparer de vous.",
        "article_cta4_html": "Pour acheter le diffuseur vitruvi diffuser c'est par",
        "article_p7_html": "4. Bougez",
        "article_p8_html": "Le sport, c’est pas juste bon à regarder sur la télé, il faut aussi en faire un peu. Si vous courez régulièrement ou êtes adepte de cyclisme, vous connaissez sans doute",
        "article_p8-2_html": ". Cette appli vous permet de garder un œil sur vos séances tout en vous donnant la possibilité de partager vos résultats et vos parcours avec vos amis. C’est la meilleure façon de trouver l’inspiration pour vos prochains circuits. Si vous êtes plus du type athlète-à-la-maison, ce bracelet joint l’utile à coquetterie avec",
        "article_p8-3_html": "Leurs poids pour poignets et chevilles ajoutent du style à leurs séances d’entrainement virtuelles (que vous pouvez",
        "article_p8-4_html": ").",
        "article_cta5_html": "Téléchargez l’appli strava ",
        "article_cta6_html": "Découvrez bala bangles ",
        "article_p9_html": "Harness the powers of tech for good instead of evil. It's time to close those work tabs and focus on you.",
        "article_p10_html": "5. Plongez dans quelques lectures incontournables",
        "article_p11_html": "Ah, la lecture, n’est-ce pas la meilleure façon que l’humain a pour s’évader du quotidien? Laissez le poids de vos journées derrière vous et attrapez votre liseuse pour plonger dans ces quelques lectures savamment choisies par notre équipe. Vous n’êtes pas une grande fan de livres? Pas de problème, car nos propositions sont aussi disponibles en format audio.",
        "article_cta7_html": "par Michael A. Singer",
        "article_cta8_html": "par Eckhart Tolle",
        "article_cta9_html": "par Thich Nhat Hanh",
        "article_cta10_html": "par Robert M. Pirsig",
        "article_cta11_html": "par Mark Manson",
        "article_p12_html": "6. Branchez-vous sur une nouvelle routine beauté",
        "article_p13_html": "Si vous voulez améliorer votre routine quotidienne, pourquoi ne pas essayer un nouveau gadget? Le",
        "article_p13-2_html": "a été testé en laboratoire pour raffiner le contour de votre visage en tonifiant la peau et en réduisant l’apparence des rides grâce à la technologie de microcourant. Voyez-le comme si on vous donnait accès à une fontaine de jouvence.",
        "article_cta12_html": "Achetez-le ",
        "article_p14_html": "7. Prenez une pause",
        "article_p15_html": "Lorsque vous avez un échéancier à respecter et que vous cumulez plus de tâches que vous avez de mains, c’est facile de laisser la charge mentale s’emparer de vous. Il y a un moyen étonnamment facile d’éviter de se laisser envahir tout en augmentant votre productivité : prendre une pause.",
        "article_p15-2_html": "est une application web et mobile qui vous aidera à organiser votre charge de travail à travers une série d’alertes qui vous rappellera gentiment de vous arrêter.",
        "article_cta13_html": "Découvrez pomofocus ",
        "article_p16_html": "8. Tenez un journal",
        "article_p17_html": "Il y a plusieurs avantages au fait d’écrire régulièrement, mais le plus grand est sans aucun doute celui de gérer ses émotions tout en mettant sur papier vos objectifs. Le Five minutes journal est une appli qui tient lieu de journal numérique où l’on retrouve des citations quotidiennes qui vous encouragent à donner libre cours à vos pensées tout en vous inspirant une vie meilleure. Et ce qui est génial, c’est que vous pouvez l’utiliser même avec un emploi du temps ultra chargé puisque ça ne vous pendra que… 5 minutes! L’appli est disponible en anglais seulement, mais rien ne vous empêche d’écrire dans la langue qui vous plait.",
        "article_cta14_html": "Téléchargez l’appli pour",
        "article_cta15_html": "Apple ",
        "article_cta16_html": "Android",
        "article_p18_html": "PS. Vous le retrouverez aussi sous forme de",
        "article_p18-2_html": ", si vous êtes du type old school.",
        "article_here_html": "ici",
        "article_a1_html": "Headspace,",
        "article_a2_html": "Breathe",
        "article_a3_html": "Golden Wind",
        "article_a4_html": "Strava",
        "article_a5_html": "Bala Bangles",
        "article_a6_html": "trouver ici gratuitement",
        "article_a7_html": "The Untethered Soul",
        "article_a8_html": "The Power of Now",
        "article_a9_html": "Peace is Every Breath",
        "article_a10_html": "Zen and the Art of Motorcyle Maintenance",
        "article_a11_html": "The Subtle Art of Not Giving a F*ck",
        "article_a12_html": "NuFACE Trinity Facial Tonal Device",
        "article_a13_html": "Pomofocus",
        "article_a14_html": "journal papier"
    }
  }
}
{% endschema %}