<section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
    <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
        {{ 'sections.article-003-content.article_type_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
        {{ 'sections.article-003-content.article_title_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
        {{ 'sections.article-003-content.article_subtitle_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-leading-normal msm:tw-text-sm sm:tw-pt-5 msm:tw-py-2 tw-mb-0">
        {{ 'sections.article-003-content.article_author_html' | t}}
    </p>
    <p class="tw-mx-auto tw-font-narrow tw-text-base tw-leading-normal msm:tw-text-sm tw-mb-0">
        {{ 'sections.article-003-content.article_date_html' | t}}
    </p>
</section>

<section class="tw-text-center tw-py-24" style="background-image: url({{ 'tear-img@2x.png' | asset_img_url: 'master' }})">
    <p class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-tracking-normal tw-text-white">
        {{ 'sections.article-003-content.article_p1_html' | t}}
    </p>
    <p class="msm:tw-max-w-sm tw-max-w-lg tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center msm:tw-px-6 tw-text-white">
        {{ 'sections.article-003-content.article_p2_html' | t}}
    </p>
    <a class="tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-003-content.article_a1_html' | t}}
    </a>
</section>

<section class="tw-container tw-mx-auto tw-flex msm:tw-align-start tw-items-center tw-justify-center tw-pt-12 tw-pb-16">
    <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
        <div class="tw-flex tw-flex-nowrap tw-flex-row">
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp">
                <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    {{ 'sections.article-003-content.article_p3_html' | t}}
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    {{ 'sections.article-003-content.article_p4_html' | t}}
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp">
                <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    {{ 'sections.article-003-content.article_p5_html' | t}}
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    {{ 'sections.article-003-content.article_p6_html' | t}}
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp">
                <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    {{ 'sections.article-003-content.article_p7_html' | t}}
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    {{ 'sections.article-003-content.article_p8_html' | t}}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tw-text-center tw-py-16 msm:tw-pt-8 msm:tw-pb-16">
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-003-content.article_a1_html' | t}}
    </a>
</section>

<section class="tw-flex tw-w-full">
    <img class="tw-mx-auto tw-w-full" src="{{ 'googleslider.png' | asset_img_url: 'master' }}" alt="temp">
</section>

<section class="tw-text-center tw-pt-24 tw-pb-12">
    <p class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">
        {{ 'sections.article-003-content.article_p9_html' | t}}
    </p>
    <p class="msm:tw-max-w-sm tw-font-narrow tw-max-w-xl tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
        {{ 'sections.article-003-content.article_p10_html' | t}}
    </p>
</section>

<section class="tw-py-16 tw-bg-gray-50">
    <div class="page-width tw-flex tw-flex-col">
        <p class="tw-font-sans tw-leading-normal tw-text-center tw-uppercase tw-tracking-mini-heading tw-text-sm tw-font-bold tw-pb-4">
            {{ 'sections.article-003-content.article_p11_html' | t}}
        </p>
        <p class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pb-6 msm:tw-px-6 tw-mb-0">
            {{ 'sections.article-003-content.article_p12_html' | t}}
        </p>
        <img class="msm:tw-w-full tw-w-1/2 tw-mx-auto tw-pt-4" src="{{ 'fbtable.png' | asset_img_url: 'master' }}" alt="temp">
    </div>
</section>

<section class="page-width tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-py-16">
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbcolortights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp">
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            {{ 'sections.article-003-content.article_p13_html' | t}}
        </p>
        <a href="https://www.sheertex.com/collections/color-tights-pantyhose" class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            {{ 'sections.article-003-content.article_a2_html' | t}}
        </a>
    </div>
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbshadetights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp">
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            {{ 'sections.article-003-content.article_p14_html' | t}}
        </p>
        <a href="https://www.sheertex.com/collections/all" class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            {{ 'sections.article-003-content.article_a2_html' | t}}
        </a>
    </div>
</section>

<section class="tw-mx-auto mlg:tw-grid-cols-1 mlg:tw-items-center tw-bg-gradient-to-b tw-from-perfGoogle1 tw-to-perfGoogle2">
    <div class="lg:tw-hidden tw-grid tw-justify-items-center tw-pt-8">
        <img class="tw-justify-self-auto tw-w-4/12" src="{{ '90day-EN.svg' | asset_img_url: 'master' }}" alt="guarantee_badge">
    </div>
    <div class="mlg:tw-pt-5 tw-pt-20 tw-pb-20 md:tw-px-36 tw-px-8 tw-text-center">
        <div class="mlg:tw-hidden mxl:tw-left-10 xl:tw-left-40 tw-w-36 tw-absolute ">
            <img src="{{ 'googlebadge.png' | asset_img_url: 'master' }}" alt="guarantee_badge">
        </div>
        <div class="tw-tracking-widest tw-uppercase tw-font-bold">
            {{ 'sections.article-003-content.article_p15_html' | t}}
        </div>
        <div class="tw-tracking-wide tw-text-5xl tw-py-4">
            {{ 'sections.article-003-content.article_p16_html' | t}}
        </div>
        <div>
            {{ 'sections.article-003-content.article_p17_html' | t}}
        </div>
    </div>
</section>

<section class="tw-py-10 tw-text-center">
    <p class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-6 tw-tracking-normal">
        {{ 'sections.article-003-content.article_p18_html' | t}}
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
        {{ 'sections.article-003-content.article_a1_html' | t}}
    </a>
</section>

{% schema %}
{
  "name": "Magazine Article 003",
  "locales": {
    "en": {
        "article_type_html": "article",
        "article_title_html": "Unbreakable Tights: Do They Really Work?",
        "article_subtitle_html": "Many companies claim to have created “indestructible” or “unbreakable” tights, without much information, proof nor any kind of guarantee. What is fact, what is fiction?",
        "article_author_html": "staff contributor",
        "article_date_html": "September 13, 2021",
        "article_p1_html": "Most Tights Are Only Good For A Few Wears",
        "article_p2_html": "Anyone who has ever worn a pair of conventional tights knows they are not made to last. Usually ripping after a couple of wears, 2 billion pairs of them end up in landfills every year.",
        "article_p3_html": "Sheertex Knit",
        "article_p4_html": "Made using one of the world's strongest polymers, Sheertex tights are guaranteed to last.",
        "article_p5_html": "Feel Just Like Real Tights",
        "article_p6_html": "Incredibly strong but also incredibly silky and soft. They feel and look just like traditional tights.",
        "article_p7_html": "Sustainability",
        "article_p8_html": "Designed and made-to-last responsibly in Canada, with inclusive sizing up to 3XL, and 6 nude shades.",
        "article_p9_html": "A Guaranteed Strong Knit",
        "article_p10_html": "Industry experts said it could not be done. But a year and a few broken sewing machines later, the folks at Sheertex finally engineered a proprietary knit, made from one of the world's strongest polymers, that is tested to be unbreakable in human hands. Miraculously, not only is the Sheertex Knit incredibly strong, it feels and looks just like traditional tights.",
        "article_p11_html": "buy better buy less",
        "article_p12_html": "While Sheertex typically costs more, they are tested to outlast multiple pairs of your traditional tights. Add to the fact that that they are sustainably and ethically made in Canada, they are a worthwhile investment for the planet and your wardrobe.",
        "article_p13_html": "Available In A Variety Of Styles,<br> Colors, And 6 Nude Shades.",
        "article_p14_html": "Inclusive Sizing From<br>XS-3XL",
        "article_p15_html": "They Come With A",
        "article_p16_html": "90-day No Rip Guarantee",
        "article_p17_html": "Guaranteed to last, Sheertex covers any damage that renders your tights unwearable for 90 days.",
        "article_p18_html": "15% off your first order!",
        "article_a1_html": "shop sheertex tights",
        "article_a2_html": "Shop Now &rarr;"
    },
    "fr": {
        "article_type_html": "article",
        "article_title_html": "Unbreakable Tights: Do They Really Work?",
        "article_subtitle_html": "Many companies claim to have created “indestructible” or “unbreakable” tights, without much information, proof nor any kind of guarantee. What is fact, what is fiction?",
        "article_author_html": "Contributeur interne",
        "article_date_html": "September 13, 2021",
        "article_p1_html": "Most Tights Are Only Good For A Few Wears",
        "article_p2_html": "Anyone who has ever worn a pair of conventional tights knows they are not made to last. Usually ripping after a couple of wears, 2 billion pairs of them end up in landfills every year.",
        "article_p3_html": "Sheertex Knit",
        "article_p4_html": "Made using one of the world's strongest polymers, Sheertex tights are guaranteed to last.",
        "article_p5_html": "Feel Just Like Real Tights",
        "article_p6_html": "Incredibly strong but also incredibly silky and soft. They feel and look just like traditional tights.",
        "article_p7_html": "Sustainability",
        "article_p8_html": "Designed and made-to-last responsibly in Canada, with inclusive sizing up to 3XL, and 6 nude shades.",
        "article_p9_html": "A Guaranteed Strong Knit",
        "article_p10_html": "Industry experts said it could not be done. But a year and a few broken sewing machines later, the folks at Sheertex finally engineered a proprietary knit, made from one of the world's strongest polymers, that is tested to be unbreakable in human hands. Miraculously, not only is the Sheertex Knit incredibly strong, it feels and looks just like traditional tights.",
        "article_p11_html": "buy better buy less",
        "article_p12_html": "While Sheertex typically costs more, they are tested to outlast multiple pairs of your traditional tights. Add to the fact that that they are sustainably and ethically made in Canada, they are a worthwhile investment for the planet and your wardrobe.",
        "article_p13_html": "Available In A Variety Of Styles,<br> Colors, And 6 Nude Shades.",
        "article_p14_html": "Inclusive Sizing From<br>XS-3XL",
        "article_p15_html": "They Come With A",
        "article_p16_html": "90-day No Rip Guarantee",
        "article_p17_html": "Guaranteed to last, Sheertex covers any damage that renders your tights unwearable for 90 days.",
        "article_p18_html": "15% off your first order!",
        "article_a1_html": "shop sheertex tights",
        "article_a2_html": "Shop Now &rarr;"
    }
  }
}
{% endschema %}