<section class="tw-bg-labBlue">

    <section class="tw-text-center sm:tw-py-12 msm:tw-py-8 tw-w-full">
        <p class="tw-rounded-3xl tw-mx-auto sm:tw-w-2/12 msm:tw-w-1/3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-2 tw-mb-0">
            {{ 'sections.experiment-001-content.experiment_type_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-serif sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight sm:tw-py-6 msm:tw-pt-5 msm:tw-pb-3 msm:tw-px-2 tw-mb-0">
            {{ 'sections.experiment-001-content.experiment_title_html' | t}}
        </p>
        <p class="tw-mx-auto tw-font-serif sm:tw-px-40 msm:tw-px-6 sm:tw-text-3-5-xl tw-leading-normal sm:tw-pb-5 msm:tw-pb-2 tw-mb-0">
            {{ 'sections.experiment-001-content.experiment_subtitle_html' | t}}
        </p>
    </section>

    <section class="sm:tw-py-10">
        <p class="tw-text-center tw-font-serif tw-text-10xl msm:tw-text-8xl tw-text-white">
            {{ 'sections.experiment-001-content.experiment_p1_html' | t}}
        </p>
        <div class="tw-grid lg:tw-grid-cols-7 mlg:tw-grid-cols-3 tw-space-x-2 lg:tw-px-20 mlg:tw-px-6">
            <div class="lg:tw-col-span-3 lg:tw-ml-16 lg:tw--mr-28 mlg:tw--mr-32">
                <video playsinline="" controls="" preload="" class="video-mask msm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Nails_video_still.png?v=1632255741" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Nails_Square.webm?v=1632169499" width="100%" height="">
                </video>
                <video playsinline="" controls="" preload="" class="video-mask sm:tw-hidden" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Nails_video_still.png?v=1632255741" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Nails_Square_503dc6c6-cbc1-4da5-9adf-767664efe3fd.mp4?v=1632229714" width="100%" height="">
                </video>
            </div>
            <div class="lg:tw-col-span-2 lg:tw-mt-96 mlg:tw-mt-56">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Nails_thumb_2.png?v=1632258603">
            </div>
            <div class="lg:tw-col-span-2 lg:tw-mt-40 mlg:tw-mt-24">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Nails_thumb_1.png?v=1632258603">
                <div class="tw-my-auto lg:tw-w-full mlg:tw-w-5/6 lg:tw-col-start-4 mlg:tw-hidden">
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans tw-font-bold mlg:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p2_html' | t}}
                    </p>
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans msm:tw-text-lg tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p3_html' | t}}
                    </p>
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
                    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 mlg:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-text-xxs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                            {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:tw-hidden tw-w-full tw-px-4 tw-pb-12">
            <hr class="tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-font-bold tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p2_html' | t}}
            </p>
            <hr class="tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p3_html' | t}}
            </p>
            <hr class="tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
            <a class="tw-border-0 tw-border tw-border-solid tw-place-self-center tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 tw-py-3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
            </a>
        </div>
    </section>

    <section class="sm:tw-py-10 msm:tw-pt-5">
        <p class="tw-text-center tw-font-serif tw-text-10xl msm:tw-text-8xl tw-text-white">
            {{ 'sections.experiment-001-content.experiment_p4_html' | t}}
        </p>
        <div class="tw-grid lg:tw-grid-cols-7 mlg:tw-grid-cols-3 tw-space-x-2 lg:tw-px-20 mlg:tw-px-6">
            <div class="picLeft002 lg:tw-col-span-2 lg:tw-mt-80">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dog_thumb_2.png?v=1632258603">
                <div class="tw-my-auto lg:tw-w-full mlg:tw-w-5/6 lg:tw-col-start-4 mlg:tw-hidden">
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans tw-font-bold mlg:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p5_html' | t}}
                    </p>
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans msm:tw-text-lg tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p6_html' | t}}
                    </p>
                    <hr class="mlg:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
                    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 mlg:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-text-xxs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                            {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
                    </a>
                </div>
            </div>
            <div class="picCentre002 lg:tw-col-span-3 lg:tw--mr-32">
                <video playsinline="" controls="" preload="" class="msm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dog_video_still.png?v=1632255741" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Dog_Square.webm?v=1632170067" width="100%" height="">
                </video>
                <video class="sm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dog_video_still.png?v=1632255741" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Dog_Square.mp4?v=1632229713" width="100%" height="" playsinline="" controls="" preload="">
                </video>
            </div>
            <div class="picRight002 lg:tw-col-span-2 lg:tw-mt-40">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dog_thumb_1_d7538e0f-4d77-470a-b263-0a873b62ba27.png?v=1632322483">
            </div>
        </div>
        <div class="lg:tw-hidden tw-w-full tw-px-4 tw-pb-12">
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p5_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p6_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
            <a class="tw-border-0 tw-border tw-border-solid tw-place-self-center tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 tw-py-3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
            </a>
        </div>
    </section>

    <section class="sm:tw-py-10 msm:tw-pt-5">
        <p class="tw-text-center tw-font-serif tw-text-10xl msm:tw-text-8xl tw-text-white">
            {{ 'sections.experiment-001-content.experiment_p7_html' | t}}
        </p>
        <div class="tw-grid lg:tw-grid-cols-7 mlg:tw-grid-cols-3 tw-space-x-2 lg:tw-px-20 mlg:tw-px-6">
            <div class="picLeft003 lg:tw-col-span-2 lg:tw-mt-24">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Pineapple_thumb_1.png?v=1632258603">
                <div class="tw-my-auto lg:tw-w-full lg:tw-col-start-4 mlg:tw-hidden">
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p8_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p9_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
                    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-text-xxs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                            {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
                    </a>
                </div>
            </div>
            <div class="picCentre003 lg:tw-col-span-3">
                <video playsinline="" controls="" preload="" class="msm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Pineapple_video_still.png?v=1632255740" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Pineapple_Square.webm?v=1632170539" width="100%" height="">
                </video>
                <video playsinline="" controls="" preload="" class="sm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Pineapple_video_still.png?v=1632255740" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Pineapple_Square.mp4?v=1632229714" width="100%" height="">
                </video>
            </div>
            <div class="picRight003 lg:tw-col-span-2 lg:tw-mt-96">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Pineapple_thumb_2.png?v=1632258603">
            </div>
        </div>
        <div class="lg:tw-hidden tw-w-full tw-px-4">
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p8_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p9_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
            <a class="tw-border-0 tw-border tw-border-solid tw-place-self-center tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 tw-py-3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
            </a>
        </div>
    </section>

    <section class="sm:tw-py-10 msm:tw-pt-5">
        <p class="tw-text-center tw-font-serif tw-text-10xl msm:tw-text-8xl tw-text-white">
            {{ 'sections.experiment-001-content.experiment_p10_html' | t}}
        </p>
        <div class="tw-grid lg:tw-grid-cols-7 mlg:tw-grid-cols-3 tw-space-x-2 lg:tw-px-20 mlg:tw-px-6">
            <div class="lg:tw-col-span-3 lg:tw-ml-16 lg:tw--mr-28 mlg:tw--mr-32">
                <video class="msm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dumbbell_video_still.png?v=1632255740" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Weights_Square.webm?v=1632170867" width="100%" height="" playsinline="" controls="" preload="">
                </video>
                <video class="sm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dumbbell_video_still.png?v=1632255740" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Weights_Square.mp4?v=1632229714" width="100%" height="" playsinline="" controls="" preload="">
                </video>
            </div>
            <div class="lg:tw-col-span-2 lg:tw-mt-96 mlg:tw-mt-56">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dumbbell_thumb_2.png?v=1632258603">
            </div>
            <div class="lg:tw-col-span-2 lg:tw-mt-40 mlg:tw-mt-24">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Dumbbell_thumb_1.png?v=1632258603">
                <div class="tw-my-auto sm:tw-w-full msm:tw-w-5/6 sm:tw-col-start-4 mlg:tw-hidden">
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p11_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p12_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
                    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-text-xxs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                            {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:tw-hidden tw-w-full tw-px-4">
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p11_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p12_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
            <a class="tw-border-0 tw-border tw-border-solid tw-place-self-center tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 tw-py-3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
            </a>
        </div>
    </section>

    <section class="sm:tw-py-10 msm:tw-pt-10">
        <p class="tw-text-center tw-font-serif tw-text-10xl msm:tw-text-8xl tw-text-white">
            {{ 'sections.experiment-001-content.experiment_p13_html' | t}}
        </p>
        <div class="tw-grid lg:tw-grid-cols-7 mlg:tw-grid-cols-3 tw-space-x-2 lg:tw-px-20 mlg:tw-px-6">
            <div class="picLeft005 lg:tw-col-span-2 lg:tw-mt-96">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Cactus_thumb_2.png?v=1632258604">
                <div class="tw-my-auto sm:tw-w-full msm:tw-w-5/6 sm:tw-col-start-4 mlg:tw-hidden">
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p14_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
                    <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                        {{ 'sections.experiment-001-content.experiment_p15_html' | t}}
                    </p>
                    <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
                    <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-text-xxs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                            {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
                    </a>
                </div>
            </div>
            <div class="picCentre005 lg:tw-col-span-3">
                <video class="msm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Cactus_video_still_1.png?v=1632256008" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Cacti_Square.webm?v=1632171167" width="100%" height="" playsinline="" controls="" preload="">
                </video>
                <video class="sm:tw-hidden video-mask" poster="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Cactus_video_still_1.png?v=1632256008" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Sheertex_Lab_Cacti_Square.mp4?v=1632229714" width="100%" height="" playsinline="" controls="" preload="">
                </video>
            </div>
            <div class="picRight005 lg:tw-col-span-2 lg:tw-mt-24">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Cactus_thumb_1.png?v=1632258603">
            </div>
        </div>
        <div class="lg:tw-hidden tw-w-full tw-px-4">
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans tw-font-bold msm:tw-text-sm tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p14_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;">
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                {{ 'sections.experiment-001-content.experiment_p15_html' | t}}
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;"><br>
            <a class="tw-border-0 tw-border tw-border-solid tw-place-self-center tw-border-black tw-mb-0 tw-rounded-3xl tw-px-12 tw-py-3 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/all">
                {{ 'sections.experiment-001-content.experiment_a1_html' | t}}
            </a>
        </div>
    </section>

    <section class="tw-max-w-8xl mlg:tw-px-4 tw-text-center tw-py-24">
        <p class="tw-font-sans tw-font-bold tw-mx-auto tw-uppercase msm:tw-text-sm">
            {{ 'sections.experiment-001-content.experiment_p16_html' | t}}
        </p>
        <p class="tw-font-serif tw-text-5-5xl msm:tw-text-2xl tw-mx-auto">
            {{ 'sections.experiment-001-content.experiment_p17_html' | t}}
        </p>
        <a href="https://www.sheertex.com/collections/new-arrivals" class="tw-font-sans tw-mx-auto tw-uppercase msm:tw-text-xs">
            {{ 'sections.experiment-001-content.experiment_a1_html' | t}} &rAarr;
        </a>
    </section>

</section>

{% style %}
    .video-mask{
        border-radius: 1em; 
        overflow: hidden; 
        outline: none;
    }

    .picLeft001 {

    }
    .picCentre001 {
        
    }
    .picRight001 {
        
    }
    .picLeft002 {
        margin-right: -64px; margin-left: 40px;
    }
    .picCentre002 {
        margin-left: -128px; margin-right: 80px;
    }
    .picRight002 {
        margin-left: -64px; margin-right: 40px;
    }
    .picLeft003 {
        margin-left: 24px; margin-right: -48px;
    }
    .picCentre003 {
        margin-right: -128px; margin-left: 80px;
    }
    .picRight003 {
        margin-right: 24px; margin-left: -48px;
    }
    .picLeft004 {
        margin-left: 24px; margin-right: -48px;
    }
    .picCentre004 {
        margin-left: -128px; margin-right: 102px;
    }
    .picRight004 {
        margin-left: -156px; margin-right: 108px;
    }
    .picLeft005 {
        margin-right: -26px;
    }
    .picCentre005 {
        margin-left: -24px; margin-right: -24px;
    }
    .picRight005 {
        margin-left: -24px;
    }
    @media only screen and (max-width: 1024px) {
        .picLeft001 {

        }
        .picCentre001 {
            
        }
        .picRight001 {
            
        }
        .picLeft002 {
            margin-right: 0px; margin-left: 0px; margin-top: 100px;
        }
        .picCentre002 {
            margin-left: -200px; margin-right: -200px;
        }
        .picRight002 {
            margin-left: -200px; margin-right: -200px;
        }
        .picLeft003 {
            margin-left: 24px; margin-right: -48px; margin-top: 50px;
        }
        .picCentre003 {
            margin-right: -128px; margin-left: 80px; width: 155px;
        }
        .picRight003 {
            margin-right: 24px; margin-left: -48px;
        }
        .picLeft004 {
            margin-right: 0px; margin-left: 0px;
        }
        .picCentre004 {
            margin-right: 0px; margin-left: 0px;
        }
        .picRight004 {
            margin-right: 0px; margin-left: 0px;
        }
        .picLeft005 {
            margin-left: 24px; margin-right: -48px; margin-top: 50px;
        }
        .picCentre005 {
            margin-right: -128px; margin-left: 80px; width: 155px;
        }
        .picRight005 {
            margin-right: 24px; margin-left: -48px;
        }
      }
{% endstyle %}

{% schema %}
{
  "name": "Magazine Experiment 001",
  "locales": {
    "en": {
        "experiment_type_html": "experiments",
        "experiment_title_html": "Putting Resilience To The Test",
        "experiment_subtitle_html": "Our tights are the most resilient in the world. Made with a polymer 10x stronger than steel, they are designed to stand up to just about anything life can throw at them. To ensure that our tights are truly up to the task, we design a variety of experiments to see how well they perform under as many situations as possible.",
        "experiment_p1_html": "Test 001",
        "experiment_p2_html": "ACRYLIC NAILS",
        "experiment_p3_html": "TINY FINGER WEAPONS",
        "experiment_p4_html": "Test 002",
        "experiment_p5_html": "DOG",
        "experiment_p6_html": "FLUFFLY, BUT FRISKY",
        "experiment_p7_html": "Test 003",
        "experiment_p8_html": "PINEAPPLE",
        "experiment_p9_html": "JUICY, BUT JAGGED",
        "experiment_p10_html": "Test 004",
        "experiment_p11_html": "DUMBBELLS",
        "experiment_p12_html": "VERY HEAVY. EXTREMELY",
        "experiment_p13_html": "Test 005",
        "experiment_p14_html": "CACTI",
        "experiment_p15_html": "TINY DESERT PRICKS",
        "experiment_p16_html": "READY TO MAKE THE SWITCH TO SHEERTEX?",
        "experiment_p17_html": "Find and order your perfect pair now - there's something for everybody and every body.",
        "experiment_a1_html": "shop sheertex tights"
    },
    "fr": {
        "experiment_type_html": "experiments",
        "experiment_title_html": "Mettre la résilience à l'épreuve",
        "experiment_subtitle_html": "Nos collants sont les plus résistants du monde. Fabriqués avec un polymère 10 fois plus résistant que l'acier, ils sont conçus pour résister à tout ce que la vie peut leur faire subir. Pour nous assurer que nos collants sont vraiment à la hauteur de la tâche, nous avons conçu une série d'expériences pour voir comment ils se comportent dans le plus grand nombre de situations possibles.",
        "experiment_p1_html": "Test 001",
        "experiment_p2_html": "Ongles en acrylique",
        "experiment_p3_html": "Petites armes à doigts",
        "experiment_p4_html": "Test 002",
        "experiment_p5_html": "\"Princesse\" le chien",
        "experiment_p6_html": "Pelucheux mais fringant",
        "experiment_p7_html": "Test 003",
        "experiment_p8_html": "Ananas",
        "experiment_p9_html": "Juteux mais dentelé",
        "experiment_p10_html": "Test 004",
        "experiment_p11_html": "Haltères",
        "experiment_p12_html": "Très lourd. Extrêmement.",
        "experiment_p13_html": "Test 005",
        "experiment_p14_html": "Cactus",
        "experiment_p15_html": "Piqûres du désert",
        "experiment_p16_html": "READY TO MAKE THE SWITCH TO SHEERTEX?",
        "experiment_p17_html": "Find and order your perfect pair now - there's something for everybody and every body.",
        "experiment_a1_html": "Magasinez"
    }
  }
}
{% endschema %}