{% if section.blocks.size > 0 %}
  <section class="msm:tw-hidden tw-grid sm:tw-grid-cols-3 msm:tw-grid-rows-3 msm:tw-gap-1">
    {% for block in section.blocks %}
      <a href="{{ block.settings.product_link }}" class="tw-bg-cover tw-bg-no-repeat tw-w-full tw-h-128 tw-bg-center tw-flex tw-items-center tw-justify-center msm:tw-h-80" style="background-image: url('{{ block.settings.product_img | img_url: 'master' }}')">
          <button class="tw-tracking-normal tw-font-serif tw-text-center tw-font-light tw-leading-tight tw-text-xl sm:tw-text-2xl tw-capitalize" style="color: {{block.settings.title_color}}">
              {{ block.settings.product_title }}
          </button>
      </a>
    {% endfor %}
  </section>
{% endif %}

<section class="sm:tw-hidden tw-pt-8">
  <section class="tw-container tw-mx-auto tw-flex msm:tw-align-start tw-items-center tw-justify-center">
      <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
          <div class="tw-flex tw-flex-nowrap tw-flex-row">
              <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <a href="{{ section.blocks[0].settings.product_link }}" class="tw-bg-cover tw-bg-no-repeat tw-w-full tw-h-128 tw-bg-center tw-flex tw-items-center tw-justify-center msm:tw-h-80" style="background-image: url('{{ section.blocks[0].settings.product_img | img_url: 'master' }}')">
                <button class="tw-tracking-normal tw-font-serif tw-text-center tw-font-light tw-leading-tight tw-text-xl sm:tw-text-2xl tw-capitalize" style="color: {{section.blocks[0].settings.title_color}}">
                    {{ section.blocks[0].settings.product_title }}
                </button>
                </a>
              </div>
              <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <a href="{{ section.blocks[1].settings.product_link }}" class="tw-bg-cover tw-bg-no-repeat tw-w-full tw-h-128 tw-bg-center tw-flex tw-items-center tw-justify-center msm:tw-h-80" style="background-image: url('{{ section.blocks[1].settings.product_img | img_url: 'master' }}')">
                <button class="tw-tracking-normal tw-font-serif tw-text-center tw-font-light tw-leading-tight tw-text-xl sm:tw-text-2xl tw-capitalize" style="color: {{section.blocks[1].settings.title_color}}">
                    {{ section.blocks[1].settings.product_title }}
                </button>
                </a>
              </div>
              <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <a href="{{ section.blocks[2].settings.product_link }}" class="tw-bg-cover tw-bg-no-repeat tw-w-full tw-h-128 tw-bg-center tw-flex tw-items-center tw-justify-center msm:tw-h-80" style="background-image: url('{{ section.blocks[2].settings.product_img | img_url: 'master' }}')">
                <button class="tw-tracking-normal tw-font-serif tw-text-center tw-font-light tw-leading-tight tw-text-xl sm:tw-text-2xl tw-capitalize" style="color: {{section.blocks[2].settings.title_color}}">
                    {{ section.blocks[2].settings.product_title }}
                </button>
            </a>
              </div>
          </div>
      </div>
  </section>
</section>

{% schema %}
{
  "name": "HP Three products section",
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Product image"
        }, {
          "type": "text",
          "id": "product_title",
          "label": "Product overlay title",
          "default": "Classic Sheer tights"
        }, {
          "type": "color",
          "id": "title_color",
          "label": "Text color",
          "default": "#ffffff"
        }, {
          "type": "url",
          "id": "product_link",
          "label": "Product link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HP Three products section",
      "category": "Sheertex Inc"
    }
  ]
}
{% endschema %}
