<style>
  .__page-title__17KpH {
    font-family: Matiere;
    letter-spacing: 0.01625rem;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    max-width: 350px;
  }
  .__page-description__2XZZ7 {
    font-family: 'Agrandir Narrow';
    font-size: 16px;
    text-align: center;
    max-width: 350px;
  }
</style>
<div id="PageHeaderSection" data-section-id="{{ section.id }}" data-section-type="page-header-section" class="tw-flex mmd:tw-flex-col">
  <div class="tw-grid mmd:tw-grid-rows-2 md:tw-grid-cols-2 tw-grid-gap-0 tw-w-full">
    {%- assign img = section.settings.image -%}
    <img loading="lazy" class="mmd:tw-row-start-2 tw-w-full" srcset="{{ img | img_url: '375x' }} 375w,
              {{ img | img_url: '600x' }} 600w,
              {{ img | img_url: '760x' }} 760w,
              {{ img | img_url: '850x' }} 850w,
              {{ img | img_url: '1200x' }} 1200w,
              {{ img | img_url: '1700x' }} 1700w" sizes="(max-width: 390px) 375px, (max-width: 770px) 760px, (max-width: 1200px) 600px, (max-width: 1700px) 850px, 1200px">
    <div class="tw-bg-green-200 tw-items-center tw-justify-center tw-flex tw-flex-col mmd:tw-py-16">
      {% if section.settings.page_title %}
        <h2 class="__page-title__17KpH">{{ section.settings.page_title }}</h2>
      {% endif %}
      {% if section.settings.page_description %}
        <p class="__page-description__2XZZ7">{{ section.settings.page_description }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Page Header Template",
    "class": "page_header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "page_title",
        "label": "Page Title"
      },
      {
        "type": "text",
        "id": "page_description",
        "label": "Page Description"
      }
    ]
  }
{% endschema %}
