<section class="tw-bg-labBlue">

    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-3 tw-gap-4 sm:tw-pb-16">
        <div>
            <a href="https://www.sheertex.com/blogs/articles/girls-can-too-empowering-women-in-code"><img src="{{ 'Lab_Article010_thumbnail_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article10_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article10_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/girls-can-too-empowering-women-in-code" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/women-in-tech"><img src="{{ 'Lab_Article009_Thumb_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article1_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article1_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/women-in-tech" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/self-care-guide-for-the-digital-native"><img src="{{ 'Lab_Article008_Thumbnail_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article2_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm"> 
                        {{ 'sections.magazineLP-content.mlp_article2_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/self-care-guide-for-the-digital-native" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-3 tw-gap-4 sm:tw-pb-16">
        <div>
            <a href="https://www.sheertex.com/blogs/articles/safe-space"><img src="{{ 'Lab_Article006_img2_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article3_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article3_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/safe-space" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/essentials-sustainability"><img src="{{ 'Lab_Article005_thumb_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article4_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article4_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/essentials-sustainability" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/holiday-lookbook"><img src="{{ 'Sheertex_Lab_LP_thumb_2x.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article5_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article5_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/holiday-lookbook" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-3 tw-gap-4 sm:tw-pb-16">
        <div>
            <a href="https://www.sheertex.com/blogs/experiments/sheertex-lab"><img src="{{ 'lablanding3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_experiment_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_experiment1_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_experiment1_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/experiments/sheertex-lab" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/unbreakable-tights"><img src="{{ 'lablanding1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article6_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article6_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/unbreakable-tights" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/complete-your-story"><img src="{{ 'lablanding2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article7_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article7_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/complete-your-story" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-3 tw-gap-4 sm:tw-pb-16">
        <div>
            <a href="https://www.sheertex.com/blogs/articles/what-makes-sheertex-different"><img src="{{ 'lablanding4.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        {{ 'sections.magazineLP-content.mlp_article8_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article8_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/pages/what-makes-sheertex-different" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/office-where"><img src="{{ 'Lab_placeholder_thumb_sm_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                        {{ 'sections.magazineLP-content.mlp_article_html' | t}}
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        {{ 'sections.magazineLP-content.mlp_article9_title_html' | t}}
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        {{ 'sections.magazineLP-content.mlp_article9_subtitle_html' | t}}
                    </p>
                    <a href="https://www.sheertex.com/blogs/articles/office-where" class="tw-pb-2 tw-uppercase tw-font-sans tw-text-xs tw-tracking-widest tw-font-medium">
                        {{ 'sections.magazineLP-content.mlp_readmore_html' | t}}&rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>

{% schema %}
{
  "name": "Magazine LP",
  "locales": {
    "en": {
        "mlp_readmore_html": "Read More ",
        "mlp_article_html": "article",
        "mlp_experiment_html": "experiments",
        "mlp_experiment1_title_html": "Putting Resilience To The Test",
        "mlp_experiment1_subtitle_html": "Our tights are the most resilient in the world. Made with a polymer 10x stronger than steel, they are designed to stand up to just about anything life can throw at them.",
        "mlp_article1_title_html": "Women In Tech: Resilience Against The Odds.",
        "mlp_article1_subtitle_html": "The future is female, as they say, and women are changing the game even when the odds are stacked against them. The tech world has long been known for its boys club status, with women remaining gravely underrepresented—only a mere 25% of its workforce is estimated to be female, meaning that women have to fight tooth and nail to establish an equal place among their male counterparts.",
        "mlp_article2_title_html": "Self-Care Guide for the Digital Native",
        "mlp_article2_subtitle_html": "We've put together some tech-based pro tips and gift ideas to encourage self-care, help you create your own safe space, and harness the powers of tech for good instead of evil. It's time to close those work tabs and focus on you.",
        "mlp_article3_title_html": "Safe Space",
        "mlp_article3_subtitle_html": "Creating a safe space starts with feeling comfortable in your mind, body, and wardrobe. Practice the ultimate form of self-care by slipping into tights that allow you to embrace the most tender version of yourself. After all, there's strength in softness.",
        "mlp_article4_title_html": "An Essential Step Towards Sustainability",
        "mlp_article4_subtitle_html": "We sat down with Katherine Homuth, Founder and CEO of Sheertex, to explore how the World's Most Resilient Tights and their latest product, Essential Sheer Tights, are playing their part in reducing the ecological footprint of the hosiery industry.",
        "mlp_article5_title_html": "Office'ially on Holiday",
        "mlp_article5_subtitle_html": "The corporate halls are decked, the karaoke machine is ready and waiting, and the punch is calling your name... come take a look at our Holiday Lookbook!",
        "mlp_article6_title_html": "Unbreakable Tights: Do They Really Work?",
        "mlp_article6_subtitle_html": "Many companies claim to have created “indestructible” or “unbreakable” tights, without much information, proof nor any kind of guarantee. What is fact, what is fiction?",
        "mlp_article7_title_html": "Long-Lasting Tights Are No Longer A Fairytale",
        "mlp_article7_subtitle_html": "Once upon a time, wearing tights came with associated risks and responsibilities. Avoiding sharp objects, cute pets, and any spontaneous movements was the price we thought we had to pay to look good.",
        "mlp_article8_title_html": "A Sheer Outlier: What Makes Sheertex Different From Other Tights?",
        "mlp_article8_subtitle_html": "You've heard the claims: Sheertex makes the World's Most Resilient Tights. But what exactly makes them a worthwhile investment in your wardrobe?",
        "mlp_article9_title_html": "Office Where",
        "mlp_article9_subtitle_html": "There's no denying it: the past year and a half has been deeply challenging. Thankfully, the light at the end of the stay-at-home tunnel is drawing near.",
        "mlp_article10_title_html": "Girls can, too: Empowering women in code",
        "mlp_article10_subtitle_html": "Coding: no longer is it reserved for data team members or kid genius hackers from early 2000s box office movies."
    },
    "fr": {
        "mlp_readmore_html": "Read More ",
        "mlp_article_html": "article",
        "mlp_experiment_html": "experiments",
        "mlp_experiment1_title_html": "Mettre la résilience à l'épreuve??????",
        "mlp_experiment1_subtitle_html": "Nos collants sont les plus résistants du monde. Fabriqués avec un polymère 10 fois plus résistant que l'acier, ils sont conçus pour résister à tout ce que la vie peut leur faire subir.",
        "mlp_article1_title_html": "Women In Tech: Resilience Against The Odds.",
        "mlp_article1_subtitle_html": "The future is female, as they say, and women are changing the game even when the odds are stacked against them. The tech world has long been known for its boys club status, with women remaining gravely underrepresented—only a mere 25% of its workforce is estimated to be female, meaning that women have to fight tooth and nail to establish an equal place among their male counterparts.",
        "mlp_article2_title_html": "Petit guide pour prendre soin de soi à l'ère du numérique",
        "mlp_article2_subtitle_html": "Petit guide pour prendre soin de soi à l'ère du numérique",
        "mlp_article3_title_html": "Safe Space",
        "mlp_article3_subtitle_html": "Creating a safe space starts with feeling comfortable in your mind, body, and wardrobe. Practice the ultimate form of self-care by slipping into tights that allow you to embrace the most tender version of yourself. After all, there's strength in softness.",
        "mlp_article4_title_html": "Un pas essentiel vers le développement durable",
        "mlp_article4_subtitle_html": "Chaque année, plus de 2 milliards de paires de collants bon marché sont expédiées dans les sites d'enfouissement. Nous avons eu la chance de s'entretenir avec Katherine Homuth, fondatrice et présidente de Sheertex, qui nous explique comment le tout dernier membre de la famille des collants résolument résilients, le diaphane essentiel, contribue réellement à réduire l'empreinte écologique de l'industrie des dessous.",
        "mlp_article5_title_html": "Office'ially on Holiday",
        "mlp_article5_subtitle_html": "The corporate halls are decked, the karaoke machine is ready and waiting, and the punch is calling your name... come take a look at our Holiday Lookbook!",
        "mlp_article6_title_html": "Unbreakable Tights: Do They Really Work?",
        "mlp_article6_subtitle_html": "Many companies claim to have created “indestructible” or “unbreakable” tights, without much information, proof nor any kind of guarantee. What is fact, what is fiction?",
        "mlp_article7_title_html": "Choisissez votre propre aventure",
        "mlp_article7_subtitle_html": "Les collants durables ne font plus partie d'un fantasme Il était une fois où le port d'un collant était synonyme de gestion de risques et d'extrême prudence. Se tenir à distance d'objets pointus et d'animaux de compagnie sympas, ou éviter tout faux mouvement était le prix que nous pensions devoir payer pour être beau.",
        "mlp_article8_title_html": "Surprenant, mais vrai.",
        "mlp_article8_subtitle_html": "Pourquoi Sheertex est-il dans une classe à part?",
        "mlp_article9_title_html": "Office Where",
        "mlp_article9_subtitle_html": "There's no denying it: the past year and a half has been deeply challenging. Thankfully, the light at the end of the stay-at-home tunnel is drawing near.",
        "mlp_article10_title_html": "La programmation, aussi une affaire de filles",
        "mlp_article10_subtitle_html": "La programmation n'est plus l'apanage des équipes des TI ou des petits génies du piratage informatique qu'on voyait dans les films à succès des années 2000."
    }
  }
}
{% endschema %}