
<div id="NewCollectionSection" data-section-id="{{ section.id }}" data-section-type="new-collection-template">

  <div class="nav_list">
    <ul>
      {% for block in section.blocks %}
        {% if block.settings.collection != blank %}
          {% if block.settings.collection_title != blank %}
            <li><a href="#{{ block.settings.collection_title | handle }}">{{ block.settings.collection_title | upcase }}</a></li>
          {% else %}
            <li><a href="#{{ collections[block.settings.collection].title | handle }}">{{ collections[block.settings.collection].title | upcase }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="page-width page-content">
    {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
      {%- assign per_row = block.settings.per_row -%}
      <div class="collection-block" id="{% if block.settings.collection_title != blank %}{{ block.settings.collection_title | handle }}{% else %}{{ collection.title | handle }}{% endif %}">
          <div class="collection_title tw-pl-6 sm:tw-pl-8 md:tw-pl-0">
            {% if block.settings.collection_title != blank %}
              <h2>{{ block.settings.collection_title }}</h2>
            {% else %}
              <h2>{{ collection.title }}</h2>
            {% endif %}
          </div>
          <div class="collection_content">
            <div class="grid grid--uniform">
              {% assign grid_item_width = 'medium-up--one-third' %}

              {% case per_row %}
              {% when 1 %}
                {%- assign grid_item_width = '' -%}
              {% when 2 %}
                {%- assign grid_item_width = 'medium-up--one-half' -%}
              {% when 3 %}
                {%- assign grid_item_width = 'medium-up--one-third' -%}
              {% when 4 %}
                {%- assign grid_item_width = 'medium-up--one-quarter' -%}
              {% when 5 %}
                {%- assign grid_item_width = 'medium-up--one-fifth' -%}
              {% endcase %}

              {% if collection.products.length > block.settings.product_limit %}
                {% for i in (1..block.settings.product_limit) %}
                  {% assign product = collection.products[forloop.index0] %}
                  {% include 'product-grid-item' %}
                {% endfor %}
              {% else %}
                {% for i in (1..collection.products.length) %}
                  {% assign product = collection.products[forloop.index0] %}
                  {% include 'product-grid-item' %}
                {% endfor %}
              {% endif %}
            </div>
            {% if collection.products.length > block.settings.product_limit %}
              <div class="view_all">
                <a href="{{ collection.url }}" class="btn">View All</a>
              </div>
            {% endif %}
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Black Friday Sales page",
    "class": "new-collection",
    "blocks":[
      {
        "type": "Collection",
        "name": "Collection",
        "settings":[
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection Title"
          },
          {
            "type": "range",
            "id": "product_limit",
            "min": 1,
            "max": 20,
            "step": 1,
            "label": "Product Limit",
            "default": 4
          },
          {
            "type": "range",
            "id": "per_row",
            "label": "Products per row",
            "default": 4,
            "min": 1,
            "max": 5,
            "step": 1
          }
        ]
       }
     ]
  }
{% endschema %}
