<section class="fall-page-hero tw-relative tw-flex tw-items-center tw-justify-center tw-overflow-hidden msm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-flex tw-items-center tw-flex-col">
    <h1 class="fall-play-top-text tw-mb-6 tw-font-serif tw-text-5xl tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">Bureau nouvelle mode</h1>
    <div class="tw-flex tw-flex-row">
      <button onclick = "startFallHeroFrPopup();" class="fall-play-button tw-max-w-xs tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
        <img class="fall-play-svg" src={{'play-desktop.svg' | asset_url }} />
        <p class="tw-pl-4 tw-pt-6 tw-text-xs tw-font-agrandir tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-text-white tw-uppercase tw-tracking-heading">Voir la vidéo</p>
      </button>
      <a href ="https://www.sheertex.com/fr/collections/fall-collection"class="tw-max-w-xs tw-rounded-3xl tw-ml-2 tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
        <p class="tw-mb-0 tw-px-4 tw-py-4 tw-text-white tw-max-w-xs tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">MAGASINER automne COLLECTION</p>
      </a>
    </div>
  </div>
  <img class="tw-absolute tw-z-10 tw-w-full fall-page-hero"
    src = "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall_banner_1.jpg?v=1629235005" alt="fall-page-hero" />
    <div class="playFallVideoFr">
      <video class="new-fall-hero-video-fr tw-w-auto" controls="true" playsinline
      poster ="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall_banner_1.jpg?v=1629235005"
      >
      <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-new.webm?v=1629282267" type="video/webm" />
        <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-desk.mp4?v=1629223365" type="video/mp4" />
      </video>
      <img class="fall-video-close" onclick ="stopFallHeroFrPopup();" alt="close-icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9Ii43NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuMzA0IiBjeD0iMTUiIGN5PSIxNSIgcj0iMTQuNjI1Ii8+PHBhdGggZD0iTTggOGwxMy44ODUgMTMuODg1TTggMjEuODg1TDIxLjg4NSA4IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==">
    </div>
</section>
<section class="fall-page-hero-m tw-relative tw-flex tw-items-center tw-justify-center tw-overflow-hidden sm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-flex tw-items-center tw-flex-col">
    <h1 class="fall-play-top-text tw-mb-6 tw-font-serif tw-text-5xl tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">Bureau nouvelle mode</h1>
    <button onclick = "startFallHeroFrPopupM();" class="fall-play-button tw-max-w-xs tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
      <img class="fall-play-svg" src={{'play-desktop.svg' | asset_url }} />
      <p class="tw-pl-4 tw-pt-6 tw-text-xs tw-font-agrandir tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-text-white tw-uppercase tw-tracking-heading">PLAY VIDEO</p>
    </button>
    <a href ="https://www.sheertex.com/fr/collections/fall-collection"class="tw-max-w-xs tw-mt-4 tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
      <p class="tw-mb-0 tw-rounded-3xl tw-px-4 tw-py-4 tw-text-white tw-max-w-xs tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">MAGASINER automne COLLECTION</p>
    </a>
  </div>
  <img class="tw-absolute tw-z-10 tw-w-full fall-page-hero"
    src = "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-mobile-hero-poster_fac69113-400b-4753-b121-afca59851415.jpg?v=1629294190" alt="fall-page-hero" />
    <div class="playFallVideoFrM">
      <video class="new-fall-hero-video-fr-m tw-w-auto" controls="true" autoplay muted playsinline>
      <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-mob.webm?v=1629294473" type="video/webm" />
        <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-mob.mp4?v=1629295259" type="video/mp4" />
      </video>
      <img class="fall-video-close-m" onclick ="stopFallHeroFrPopupM();" alt="close-icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9Ii43NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuMzA0IiBjeD0iMTUiIGN5PSIxNSIgcj0iMTQuNjI1Ii8+PHBhdGggZD0iTTggOGwxMy44ODUgMTMuODg1TTggMjEuODg1TDIxLjg4NSA4IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==">
    </div>
</section>

<div class="fall-lp-container">
  <section class="tw-text-center tw-py-28 msm:tw-py-20">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">Le collant a sa place partout</p>
    <p class="msm:tw-max-w-sm tw-font-narrow tw-max-w-xl tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
      Impossible de le nier : la dernière année et demie a été très difficile. Heureusement, on peut apercevoir la lumière au bout de ce long tunnel renommé confinement. Si la possibilité d’un retour au bureau occupe de plus en plus les conversations, on se demande bien à quoi ressemblera la nouvelle réalité du travail? Voici comment trois femmes ont adapté leur style vestimentaire pour le bureau, peu importe son emplacement.
    </p>
    <a href ="https://www.sheertex.com/fr/collections/fall-collection">
      <p class="tw-mb-0 tw-rounded-3xl tw-px-8 tw-py-2 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">MAGASINER LA COLLECTION</p>
    </a>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-4 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">
        « Je travaille avec de la grosse machinerie et je me sens en confiance dans ce collant confortable. Il est si robuste! »
      </h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">Émilie </p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Cliente vérifiée</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-full tw-max-w-none temp__fall-image msm:tw-hidden" 
      src="{{ 'Emilie-1.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
    <img class="tw-absolute tw-z-10 tw-w-full tw-max-w-none temp__fall-image sm:tw-hidden" 
      src="{{ 'Emilie-1-m.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-10">
    <div class="fall-emilie-img-2 tw-flex tw-flex-col msm:tw-items-center msm:tw-justify-center">
      <img src="{{ 'Emilie-2.jpg' | asset_url }}"  alt="Emilie wearing sheertex tights" />
      <p class="sm:tw-mb-0 tw-text-base tw-font-narrow tw-leading-normal tw-tracking-wide msm:tw-pt-2 tw-pt-4 msm:tw-text-xs msm:tw-text-center">
        Émilie porte le <a href="https://www.sheertex.com/fr/products/classic-unbreakable-sheer-tights" class="tw-underline">collant diaphane classique</a> et <a href="https://www.sheertex.com/fr/collections/fall-patterns" class="tw-underline">les collants à motif</a>
      </p>
    </div>
    <div class="sm:tw-ml-20 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4  tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Rencontre Émilie</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">CRÉATRICE DE BIJOUX ET ENTREPRENEURE</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        ACréatrice de bijoux autonome vivant et travaillant à Montréal, Émilie s’en tient aux basiques – jeans,
        t-shirts et espadrilles - mais les jupes et les robes s’invitent parfois dans son quotidien. Qu’elle soit au travail ou en famille,
        ses tenues allient confort et style, et contiennent beaucoup de tissus doux. Consommatrice responsable, 
        elle préfère faire ses achats localement et adopte un mode de vie respectueux de l’environnement. 
        Elle adore la texture ultraconfortable de ses collants et leur résistance aux accrocs que peuvent causer les machines et outils de son studio.
      </p>
      <a href ="https://www.sheertex.com/fr/collections/fall-patterns" class="tw-mb-8 msm:tw-mb-4 tw-underline tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase">MAGASINER COLLANTS À MOTIFS</a>
      <div class="msm:tw-pt-4">
        <img src="{{ 'Emilie-3.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-4 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">
        « C’est un bon investissement puisque c’est un article que je garderai longtemps. »
      </h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">Anaïse </p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Cliente vérifiée</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none msm:tw-hidden" 
      src="{{ '5_LP_webbanner_4.jpg' | asset_url }}" alt="Emilie wearing sheertex tights" />
    <img class="tw-absolute tw-z-10 tw-pt-2 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none sm:tw-hidden" 
      src="{{ 'optimized-anasi-mob.jpg' | asset_url }}" alt="Emilie wearing sheertex tights" />
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-justify-center tw-mb-32 msm:tw-hidden">
    <div class="sm:tw-mr-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Rencontre Anaïse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">RECRUTEUSE À LA TÊTE CHERCHEUSE</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        Spécialiste en recrutement dans les domaines du design, des communications et du marketing, Anaïse, comme bien des gens qui ont passé de nombreuses heures sur Zoom, a dû revoir la façon de se vêtir à partir de la taille. « Un blazer ou tout autre haut qui a de l’éclat me met dans un bon état d’esprit », dit-elle. Elle choisit des vêtements frais et lumineux, et se fait un point d’honneur d’encourager les entreprises dont les valeurs et les missions la rejoignent. Ce collant durable joue un rôle clé dans sa garde-robe puisqu’il peut facilement s’agencer à n’importe quelle tenue. « Il est ultrasoyeux et sa couleur est parfaite! L’enfiler ne demande aucun effort et il offre un excellent soutien. »
      </p>
      <a href ="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">MAGASINER NOUVELLES COULEURS</a>
    </div>
    <div class="tw-flex tw-flex-col sm:tw-relative">
      <img class="fall-emilie-img-2" src="{{ '6_LP_anaise_12.jpg' | asset_url }}" alt="Anaise wearing sheertex tights" />
      <p class="tw-text-sm tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-sm msm:tw-text-center">
        Anaïse porte le nouveau Collant semi-transparent <br> en deux couleurs : <a href="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Gold</a> et en<a href="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Blush Pink</a>
      </p>
      <div class="sm:tw-absolute sm:tw--bottom-20 sm:tw--right-20">
        <img src="{{ 'temp__meet-anaise-2-D.png' | asset_url }}" alt="Anaise wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-mb-20 msm:tw-justify-center msm:tw-mb-10 sm:tw-hidden">
    <div class="tw-flex tw-flex-col">
      <img class="fall-emilie-img-2 msm:tw-pt-2" src="{{ '6_LP_anaise_12.jpg' | asset_url }}" alt="Anaise wearing sheertex tights" />
      <p class="tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-center">
        Anaïse porte le nouveau collant semi-transparent en deux couleurs : <a href="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Gold</a> et en <a href="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Blush Pink</a>
      </p>
    </div>
    <div class="sm:tw-ml-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4 tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Rencontre Anaïse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">RECRUTEUSE À LA TÊTE CHERCHEUSE</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        Spécialiste en recrutement dans les domaines du design, des communications et du marketing, Anaïse, comme bien des gens qui ont passé de nombreuses heures sur Zoom, a dû revoir la façon de se vêtir à partir de la taille. « Un blazer ou tout autre haut qui a de l’éclat me met dans un bon état d’esprit », dit-elle. Elle choisit des vêtements frais et lumineux, et se fait un point d’honneur d’encourager les entreprises dont les valeurs et les missions la rejoignent. Ce collant durable joue un rôle clé dans sa garde-robe puisqu’il peut facilement s’agencer à n’importe quelle tenue. « Il est ultrasoyeux et sa couleur est parfaite! L’enfiler ne demande aucun effort et il offre un excellent soutien. »
      </p>
      <a href ="https://www.sheertex.com/fr/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-mb-8 msm:tw-mb-4 tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">MAGASINER NOUVELLES COULEURS</a>
      <div class="msm:tw-pt-4">
        <img src="{{ 'temp__meet-anaise-2-D.png' | asset_url }}" alt="Anaise wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-8 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal"> 
      « Je porte beaucoup de bagues et parfois elles peuvent abimer mes collants - mais ceux-ci ont passé le test ! » </h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">Aurélie</p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Cliente vérifiée</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none msm:tw-hidden" 
      src="{{ 'temp__meet-aurelie-D.jpg' | asset_url }} alt="Aurelie wearing sheertex tights">
    <img class="tw-absolute tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none sm:tw-hidden" 
      src="{{ 'optimized-aurile-m.jpg' | asset_url }} alt="Aurelie wearing sheertex tights"">
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-pb-12 tw-justify-center msm:tw-pt-6 msm:tw-pb-8">
    <div class="tw-flex tw-flex-col">
      <img class="fall-emilie-img-2" src="{{ '9_LP_aurelie_1.jpg' | asset_url }}" alt="Emilie quote banner"/>
      <p class="tw-text-base tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-xs msm:tw-text-center">
      Aurélie porte le <a href="https://www.sheertex.com/fr/collections/fall-collection/products/half-half-tights" class="tw-underline">Collants moitié-moitié</a> et le <br> <a href="https://www.sheertex.com/fr/products/classic-unbreakable-sheer-tights" class="tw-underline">Collant diaphane classique</a></p>
    </div>
    <div class="sm:tw-ml-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4  tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Rencontre Aurélie</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">RESPONSABLE DES COMMUNICATIONS ET DES ÉVÉNEMENTS</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        Comme responsable des communications au sein d'une jeune entreprise, Aurélie a toujours porté une attention particulière à sa tenue vestimentaire. La robe et le collant sont sa marque de commerce, comme on peut le voir les deux jours par semaine qu'elle passe maintenant au bureau. Lorsqu'elle veut renouveler sa garde-robe, elle s'efforce d'encourager les petites entreprises d'ici et tient à l'œil les vêtements de haute qualité fabriqués localement. Même si leurs prix sont plus élevés, elle apprécie le fait qu'elle réduit son empreinte carbone. Elle adore ses collants Sheertex fabriqués à Montréal en raison de leur tissu durable et résilient et de la possibilité de les agencer avec presque tout, que ce soit des jupes, des robes et même des shorts.
      </p>
      <a href ="https://www.sheertex.com/fr/collections/fall-collection/products/half-half-tights" class="tw-mb-8 msm:tw-mb-4 tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">MAGASINER Collants moitié-moitié</a>
      <div class="msm:tw-pt-4" style="width: 212px;">
        <img src="{{ '10_LP_aurelie_2.jpg' | asset_url }}" alt="Aurelie wearing Sheertex tights"/>
      </div>
    </div>
  </section>
</div>

{% style %}

.fall-page-hero {
  min-height: 65vh;
}
.fall-page-hero-m {
  min-height: 65vh;
}
@media (min-width: 640px) {

    .fall-emilie-img-2 {
      max-width: 540px;
    }
    .fall-quote-container {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media (max-width: 640px) {
    .fall-page-hero {
        min-height: 65vh;
    }
    .fall-quote-content {
        min-height: 260px;
    }
}

.fall-lp-container {
  background-image: linear-gradient(to bottom, #f5ede3, #f5ede3 122%);
}

.fall-play-button {
  width: 260px;
  height: 50px;
}

.fall-play-svg {
    width: 22px;
    height: 22px;
}

.playFallVideoFr, .playFallVideoFrM  {
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  z-index: 100000;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.playFallVideoFr video, .playFallVideoFrM video {
  position: relative;
  max-width: 900px;
  outline: none;
}
.fall-video-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
.fall-video-close-m {
  position: absolute;
  top: 100px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 24px;
}
.playFallVideoFr.active, .playFallVideoFrM.active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 991px) {
  .playFallVideoFr video, .playFallVideoFrM video {
    max-width: 90%;
  }
}
{% endstyle %}

<script type="text/javascript">
var playFallVideoFr = document.querySelector(".playFallVideoFr");
var fallHeroFr =  document.querySelector('.new-fall-hero-video-fr');
var playFallVideoFrM = document.querySelector(".playFallVideoFrM");
var fallHeroFrM =  document.querySelector('.new-fall-hero-video-fr-m');
fallHeroFrM.pause();

function startFallHeroFrPopup(){
    if(playFallVideoFr && fallHeroFr) {
    fallHeroFr.currentTime = 0;
    fallHeroFr.autoplay = true;
    playFallVideoFr.classList.add("active");
    }
}
function stopFallHeroFrPopup(){
    if(playFallVideoFr && fallHeroFr) {
    fallHeroFr.currentTime = 0;
    fallHeroFr.pause();
    playFallVideoFr.classList.remove("active");
    }
}
function startFallHeroFrPopupM(){
    if(playFallVideoFrM && fallHeroFrM) {
    fallHeroFrM.currentTime = 0;
    fallHeroFrM.muted = !fallHeroFrM.muted;
    playFallVideoFrM.classList.add("active");
    }
}
function stopFallHeroFrPopupM(){
    if(playFallVideoFrM && fallHeroFrM) {
    fallHeroFrM.currentTime = 0;
    fallHeroFrM.pause();
    playFallVideoFrM.classList.remove("active");
    }
}
</script>