<section class="fall-page-hero tw-relative tw-flex tw-items-center tw-justify-center tw-overflow-hidden msm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-text-center">
    <h1 class="fall-play-top-text tw-mb-6 tw-font-serif tw-text-5xl tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">OfficeWhere</h1>
    <div class="tw-flex tw-flex-row">
      <button onclick = "startFallHeroPopup();" class="fall-play-button tw-rounded-3xl sm:tw-mr-2 tw-max-w-xs tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
        <img class="fall-play-svg" src={{'play-desktop.svg' | asset_url }} />
          <p class="tw-pl-4 tw-pt-6 tw-text-xs tw-font-agrandir tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-text-white tw-uppercase tw-tracking-heading">PLAY VIDEO</p>
      </button>
      <a href = "https://www.sheertex.com/collections/fall-collection" 
          class="tw-max-w-xs tw-flex tw-items-center tw-justify-center tw-rounded-3xl" style="border: 1px solid white;">
        <p class="tw-mb-0 tw-px-8 tw-py-3 tw-text-white tw-max-w-xs tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">SHOP FALL COLLECTION</p>
      </a>
    </div>
  </div>
  <img class="tw-absolute tw-z-10 tw-w-full fall-page-hero"
    src = "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall_banner_1.jpg?v=1629235005" alt="fall-page-hero" />
    <div class="playFallVideo">
      <video class="new-fall-hero-video tw-w-auto" controls="true" playsinline
      poster ="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall_banner_1.jpg?v=1629235005"
      >
      <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-new.webm?v=1629282267" type="video/webm" />
        <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-desk.mp4?v=1629223365" type="video/mp4" />
      </video>
      <img class="fall-video-close" onclick ="stopFallHeroPopup();" alt="close-icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9Ii43NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuMzA0IiBjeD0iMTUiIGN5PSIxNSIgcj0iMTQuNjI1Ii8+PHBhdGggZD0iTTggOGwxMy44ODUgMTMuODg1TTggMjEuODg1TDIxLjg4NSA4IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==">
    </div>
</section>
<section class="fall-page-hero-m tw-relative tw-flex tw-items-center tw-justify-center tw-overflow-hidden sm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-text-center">
    <h1 class="fall-play-top-text tw-mb-6 tw-font-serif tw-text-5xl tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">OfficeWhere</h1>
    <button onclick = "startFallHeroPopupM();" class="fall-play-button tw-rounded-3xl tw-max-w-xs tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
      <img class="fall-play-svg" src={{'play-desktop.svg' | asset_url }} />
      <p class="tw-pl-4 tw-pt-6 tw-text-xs tw-font-agrandir tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-text-white tw-uppercase tw-tracking-heading">PLAY VIDEO</p>
    </button>
    <a href="https://www.sheertex.com/collections/fall-collection" class="tw-max-w-xs tw-rounded-3xl tw-mt-4 tw-flex tw-items-center tw-justify-center" style="border: 1px solid white;">
      <p class="tw-mb-0 tw-px-8 tw-py-3 tw-text-white tw-max-w-xs tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">&nbsp;SHOP FALL COLLECTION</p>
    </a>
  </div>
  <img class="tw-absolute tw-z-10 tw-w-full fall-page-hero"
    src = "https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-mobile-hero-poster_fac69113-400b-4753-b121-afca59851415.jpg?v=1629294190" alt="fall-page-hero" />
    <div class="playFallVideoM">
      <video class="new-fall-hero-video-m tw-w-auto" controls="true" autoplay muted playsinline>
      <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-mob.webm?v=1629294473" type="video/webm" />
        <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/fall-hero-video-mob.mp4?v=1629295259" type="video/mp4" />
      </video>
      <img class="fall-video-close-m" onclick ="stopFallHeroPopupM();" alt="close-icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9Ii43NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuMzA0IiBjeD0iMTUiIGN5PSIxNSIgcj0iMTQuNjI1Ii8+PHBhdGggZD0iTTggOGwxMy44ODUgMTMuODg1TTggMjEuODg1TDIxLjg4NSA4IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==">
    </div>
</section>

<div class="fall-lp-container">
  <section class="tw-text-center tw-py-28 msm:tw-py-20">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">Anywhere Tights for the <br>Anywhere Office</p>
    <p class="msm:tw-max-w-sm tw-font-narrow tw-max-w-xl tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
      There’s no denying it: the past year and a half has been deeply challenging.
      Thankfully, the light at the end of the stay-at-home tunnel is drawing near.
      While the notion of returning to the office is the talk of the town, it begs the question: 
      what will the new reality of work look like? Here’s how three women have adapted their styles to fit today’s anywhere office,
      no matter where they set up shop.
    </p>
    <a href ="https://www.sheertex.com/collections/fall-collection">
      <p class="tw-mb-0 tw-rounded-3xl tw-px-8 tw-py-2 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-tracking-wide tw-font-medium tw-uppercase tw-tracking-heading">SHOP THE COLLECTION</p>
    </a>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-4 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">“I’m comfortable wearing these while I work with heavy machinery, they’re so sturdy!”</h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">Émilie </p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Verified Sheertexer</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-full tw-max-w-none temp__fall-image msm:tw-hidden" 
      src="{{ 'Emilie-1.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
    <img class="tw-absolute tw-z-10 tw-w-full tw-max-w-none temp__fall-image sm:tw-hidden" 
      src="{{ 'Emilie-1-m.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-10">
    <div class="fall-emilie-img-2 tw-flex tw-flex-col msm:tw-items-center msm:tw-justify-center">
      <img src="{{ 'Emilie-2.jpg' | asset_url }}"  alt="Emilie wearing sheertex tights" />
      <p class="sm:tw-mb-0 tw-text-base tw-font-narrow tw-leading-normal tw-tracking-wide msm:tw-pt-2 tw-pt-4 msm:tw-text-xs msm:tw-text-center">
      Émilie in our <a href="https://www.sheertex.com/products/classic-unbreakable-sheer-tights" class="tw-underline">Classic Sheer Tights</a> & <a href="https://www.sheertex.com/collections/fall-patterns" class="tw-underline">Patterns</a>
      </p>
    </div>
    <div class="sm:tw-ml-20 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4  tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Meet Émilie</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">Jewelry Designer & Entrepreneur</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        An independent jewelry designer based in Montreal, Émilie sticks to the style basics :
        jeans, t-shirts, and sneakers, with skirts and dresses making guest appearances.
        Whether at work or spending time with her family, her outfits mix comfort with style,
        featuring lots of soft fabrics and materials. A sustainable consumer,
        she prefers to shop locally and embraces an environmentally conscious lifestyle.
        She loves the ultra comfortable texture of her tights and how they stand resilient against potential snags
        on machinery and tools around her studio.
      </p>
      <a href ="https://www.sheertex.com/collections/fall-patterns" class="tw-mb-8 msm:tw-mb-4 tw-underline tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase">SHOP PATTERNS</a>
      <div class="msm:tw-pt-4">
        <img src="{{ 'Emilie-3.png' | asset_url }}"  alt="Emilie wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-4 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">
        “This is a good investment in something<br> that I’ll keep for a long time.”
      </h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">Anaïse </p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Verified Sheertexer</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none msm:tw-hidden" 
      src="{{ '5_LP_webbanner_4.jpg' | asset_url }}" alt="Emilie wearing sheertex tights" />
    <img class="tw-absolute tw-z-10 tw-pt-2 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none sm:tw-hidden" 
      src="{{ 'optimized-anasi-mob.jpg' | asset_url }}" alt="Emilie wearing sheertex tights" />
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-justify-center tw-mb-32 msm:tw-hidden">
    <div class="sm:tw-mr-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Meet Anaïse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">Recruiter at La Tête Chercheuse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        Working in recruitment specializing in design, communications and marketing,
        Anaïse’s style shifted to fashion from the waist up during the pandemic as she spent her days on Zoom calls.
        “Blazers on top and anything that really ‘popped’ put me in a good headspace,” she says. 
        She gravitates towards fresh, bright, and optimistic pieces and makes purchases mindfully, 
        supporting companies whose values and missions resonate with her. 
        These sustainable tights play a key role in her wardrobe and she loves how they complete an outfit. 
        “They’re silky smooth and the colour is perfect! Putting them on is effortless and they provide so much support.”
      </p>
      <a href ="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">SHOP Fall Semi-sheer TIGHTS</a>
    </div>
    <div class="tw-flex tw-flex-col sm:tw-relative">
      <img class="fall-emilie-img-2" src="{{ '6_LP_anaise_12.jpg' | asset_url }}" alt="Anaise wearing sheertex tights" />
      <p class="tw-text-sm tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-sm msm:tw-text-center">
        Anaïse in our new Semi-Sheer Tights in <a href="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Gold</a> & <a href="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Blush Pink</a>
      </p>
      <div class="sm:tw-absolute sm:tw--bottom-20 sm:tw--right-20">
        <img src="{{ 'temp__meet-anaise-2-D.png' | asset_url }}" alt="Anaise wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-mb-20 msm:tw-justify-center msm:tw-mb-10 sm:tw-hidden">
    <div class="tw-flex tw-flex-col">
      <img class="fall-emilie-img-2 msm:tw-pt-2" src="{{ '6_LP_anaise_12.jpg' | asset_url }}" alt="Anaise wearing sheertex tights" />
      <p class="tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-center">
        Anaïse in our new Semi-Sheer Tights in <a href="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Gold</a> & <a href="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-underline"> Blush Pink</a>
      </p>
    </div>
    <div class="sm:tw-ml-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4 tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Meet Anaïse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">Recruiter at La Tête Chercheuse</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        Working in recruitment specializing in design, communications and marketing,
        Anaïse’s style shifted to fashion from the waist up during the pandemic as she spent her days on Zoom calls.
        “Blazers on top and anything that really ‘popped’ put me in a good headspace,” she says. 
        She gravitates towards fresh, bright, and optimistic pieces and makes purchases mindfully, 
        supporting companies whose values and missions resonate with her. 
        These sustainable tights play a key role in her wardrobe and she loves how they complete an outfit. 
        “They’re silky smooth and the colour is perfect! Putting them on is effortless and they provide so much support.”
      </p>
      <a href ="https://www.sheertex.com/collections/fall-collection/products/shaping-semi-sheer-luxury-tights" class="tw-mb-8 msm:tw-mb-4 tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">SHOP Fall Semi-sheer TIGHTS</a>
      <div class="msm:tw-pt-4">
        <img src="{{ 'temp__meet-anaise-2-D.png' | asset_url }}" alt="Anaise wearing sheertex tights" />
      </div>
    </div>
  </section>

  <section class="fall-quote-container tw-relative tw-flex tw-items-center tw-justify-center tw-mb-20 msm:tw-mb-4 tw-overflow-hidden">
    <div class="fall-quote-content tw-relative tw-z-20 tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h1 class="tw-mb-6 tw-max-w-4xl tw-font-serif tw-text-4xl msm:tw-text-xl msm:tw-px-8 tw-text-white tw-leading-tight tw-text-center tw-font-light tw-tracking-normal"> “I wear a lot of rings and sometimes they can ruin my tights – but these have passed the test!”</h1>
      <div class="tw-flex tw-items-center tw-justify-center">
        <p class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-text-white tw-uppercase">AurÉlie </p>
        <p class="text-2xl msm:tw-text-xs font-narrow leading-loose text-center tw-text-white">&nbsp;&mdash; Verified Sheertexer</p>
      </div>
    </div>
    <img class="tw-absolute tw-w-full tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none msm:tw-hidden" 
      src="{{ 'temp__meet-aurelie-D.jpg' | asset_url }} alt="Aurelie wearing sheertex tights">
    <img class="tw-absolute tw-z-10 tw-w-auto temp__fall-image tw-min-w-full tw-min-h-full tw-max-w-none sm:tw-hidden" 
      src="{{ 'optimized-aurile-m.jpg' | asset_url }} alt="Aurelie wearing sheertex tights"">
  </section>

  <section class="tw-container tw-mx-auto tw-flex tw-flex-row msm:tw-flex-col tw-items-start msm:tw-items-center tw-pb-12 tw-justify-center msm:tw-pt-6 msm:tw-pb-8">
    <div class="tw-flex tw-flex-col">
      <img class="fall-emilie-img-2" src="{{ '9_LP_aurelie_1.jpg' | asset_url }}" alt="Emilie quote banner"/>
      <p class="tw-text-base tw-font-narrow tw-leading-normal tw-tracking-wide tw-pt-2 msm:tw-text-xs msm:tw-text-center">Aurélie in our <a href="https://www.sheertex.com/collections/fall-collection/products/half-half-tights" class="tw-underline">Three Quarter Tights</a> & <a href="https://www.sheertex.com/products/classic-unbreakable-sheer-tights" class="tw-underline">Classic Sheer Tights</a></p>
    </div>
    <div class="sm:tw-ml-16 copy-container tw-text-left tw-flex tw-flex-col msm:tw-items-center">
      <p class="msm:tw-pt-4  tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light">Meet Aurélie</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-sans tw-leading-normal tw-tracking-wide tw-uppercase">Head of Communications and Events</p>
      <p class="msm:tw-text-center tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-normal tw-tracking-wide tw-max-w-md">
        As Head of Communications for a startup, dressing up to go into work
        used to be part of Aurélie’s daily routine. During the two days per week
        that she now spends in-office, you’ll find her wearing dresses and tights.
        When shopping for new wardrobe pieces, she makes a point to support small businesses
        by shopping locally. She keeps an eye out for locally-made, high quality pieces: 
        while the price tag may be higher, she appreciates that her carbon footprint will be lower. 
        She loves her Montreal-produced Sheertex tights due to the sustainable, resilient fabric and how 
        she can pair them with just about anything, from skirts to dresses to even shorts. 
      </p>
      <a href ="https://www.sheertex.com/collections/fall-collection/products/half-half-tights" class="tw-mb-8 msm:tw-mb-4 tw-text-xs msm:tw-pb-2 tw-font-sans tw-leading-normal tw-text-center sm:tw-text-left tw-tracking-wide tw-font-bold tw-uppercase tw-underline">Shop Three quarter tights</a>
      <div class="msm:tw-pt-4" style="width: 212px;">
        <img src="{{ '10_LP_aurelie_2.jpg' | asset_url }}" alt="Aurelie wearing Sheertex tights"/>
      </div>
    </div>
  </section>
</div>

{% style %}

.fall-page-hero {
  min-height: 65vh;
}
.fall-page-hero-m {
  min-height: 65vh;
}
@media (min-width: 640px) {

    .fall-emilie-img-2 {
      max-width: 540px;
    }
    .fall-quote-container {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media (max-width: 640px) {
    .fall-page-hero {
        min-height: 65vh;
    }
    .fall-quote-content {
        min-height: 260px;
    }
}

.fall-lp-container {
  background-image: linear-gradient(to bottom, #f5ede3, #f5ede3 122%);
}

.fall-play-button {
  width: 260px;
  height: 50px;
}

.fall-play-svg {
    width: 22px;
    height: 22px;
}

.playFallVideo, .playFallVideoM  {
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  z-index: 100000;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.playFallVideo video, .playFallVideoM video {
  position: relative;
  max-width: 900px;
  outline: none;
}
.fall-video-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
.fall-video-close-m {
  position: absolute;
  top: 100px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 24px;
}
.playFallVideo.active, .playFallVideoM.active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 991px) {
  .playFallVideo video, .playFallVideoM video {
    max-width: 90%;
  }
}
{% endstyle %}

<script type="text/javascript">
    var playFallVideo = document.querySelector(".playFallVideo");
    var fallHero =  document.querySelector('.new-fall-hero-video');
    var playFallVideoM = document.querySelector(".playFallVideoM");
    var fallHeroM =  document.querySelector('.new-fall-hero-video-m');
    fallHeroM.pause();
    
    function startFallHeroPopup(){
      if(playFallVideo && fallHero) {
        fallHero.currentTime = 0;
        fallHero.autoplay = true;
        playFallVideo.classList.add("active");
      }
    }
    function stopFallHeroPopup(){
      if(playFallVideo && fallHero) {
        fallHero.currentTime = 0;
        fallHero.pause();
        playFallVideo.classList.remove("active");
      }
    }
    function startFallHeroPopupM(){
      if(playFallVideoM && fallHeroM) {
        fallHeroM.currentTime = 0;
        fallHeroM.muted = !fallHeroM.muted;
        playFallVideoM.classList.add("active");
      }
    }
    function stopFallHeroPopupM(){
      if(playFallVideoM && fallHeroM) {
        fallHeroM.currentTime = 0;
        fallHeroM.pause();
        playFallVideoM.classList.remove("active");
      }
    }
</script>