{% section 'magazine-header' %}
{% section 'article-005-content' %}

{% comment %} magazine footer block below {% endcomment %}
<section class="tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1 sm:tw-space-x-8 tw-justify-items-center tw-items-center tw-py-12 tw-w-full tw-px-6 tw-border-0 tw-border-t tw-border-solid">
    <div class="sm:tw-pb-4 sm:tw-hidden">
        <img src="{{ 'lablanding3.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
    <div class="tw-flex tw-flex-col tw-text-center tw-m-auto">
        <p class="tw-rounded-3xl tw-px-12 tw-py-2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-mx-auto tw-font-medium tw-uppercase tw-tracking-heading tw-m-auto tw-my-2">
            experiments
        </p>
        <p class="tw-font-serif sm:tw-text-8xl msm:tw-text-4xl tw-leading-tight tw-max-w-2xl tw-m-auto tw-my-2">
            Putting Resilience To The Test 
        </p>
        <p class="tw-font-serif sm:tw-text-3-5-xl tw-max-w-2xl tw-m-auto tw-my-2">
            Our tights are the most resilient in the world. Made with a polymer 10x stronger than steel, 
            they are designed to stand up to just about anything life can throw at them. 
        </p>
        <a href="https://www.sheertex.com/blogs/experiments/sheertex-lab" class="tw-font-sans tw-font-bold tw-uppercase tw-text-base tw-m-auto tw-my-2">
            read more &rarr;
        </a>
    </div>
    <div class="msm:tw-hidden">
        <img src="{{ 'lablanding3.png' | asset_img_url: 'master' }}" class="" alt="temp">
    </div>
</section>

<section class="tw-bg-labBlue tw-py-16">
    <p class="tw-text-center tw-font-sans tw-font-bold tw-uppercase sm:tw-pb-16 msm:tw-pb-4">
        more from the lab
    </p>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-3 tw-gap-4">
        <div>
            <a href="https://www.sheertex.com/blogs/articles/safe-space"><img src="{{ 'Lab_Article006_img2_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                            article
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        Safe Space
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        Creating a safe space starts with feeling comfortable in your mind, body, and wardrobe. 
                        Practice the ultimate form of self-care by slipping into tights that allow you to embrace the 
                        most tender version of yourself. After all, there's strength in softness.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/office-where"><img src="{{ 'Lab_placeholder_thumb_sm_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                            article
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        Office Where
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm">
                        There's no denying it: the past year and a half has been deeply challenging. 
                        Thankfully, the light at the end of the stay-at-home tunnel is drawing near.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/blogs/articles/self-care-guide-for-the-digital-native"><img src="{{ 'Lab_Article008_Thumbnail_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp"></a>
            <div class="tw-flex tw-h-full tw-w-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4 tw-w-full">
                    <p class="tw-rounded-3xl tw-mx-auto tw-mt-4 sm:tw-w-1/3 msm:tw-w-1/2 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-font-medium tw-uppercase tw-tracking-heading tw-py-1">
                            article
                    </p>
                    <p class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-max-w-md tw-mx-auto">
                        Self-Care Guide for the Digital Native
                    </p>
                    <p class="tw-mx-auto tw-max-w-sm"> 
                        We've put together some tech-based pro tips and gift ideas to encourage self-care, 
                        help you create your own safe space, and harness the powers of tech for good instead of evil. 
                        It's time to close those work tabs and focus on you.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    var _learnq = _learnq || [];
    var page = window.location.href;
    
    _learnq.push(['track', 'Viewed Page',
      {url: page}
    ]);
</script>