<section class="tw-flex tw-flex-col tw-justify-items-center tw-items-center">
    <div class="tw-relative tw-flex tw-items-center tw-justify-center tw-w-full">
      <img src="{{ 'shapinglp_Banner_Desktop_2x.png' | asset_img_url: 'master' }}" class="mmd:tw-hidden" alt="temp">
      <img src="{{ 'shapinglp_Banner_Mobile_2x.png' | asset_img_url: 'master' }}" class="md:tw-hidden" alt="temp">
      <div class="tw-absolute tw-m-auto tw-text-center tw-justify-items-center tw-items-center">
          <p class="tw-mx-auto tw-font-serif tw-text-white tw-text-7xl tw-mb-0 msm:tw-hidden">
              Shaping Sheer Tights
          </p>
          <p class="tw-mx-auto tw-font-bold tw-text-white tw-tracking-widest tw-mb-0 tw-pb-8 tw-uppercase msm:tw-hidden">
              sheertex technology helping you shape your way
          </p>
          <p class="tw-mx-auto tw-font-serif tw-text-white tw-text-4xl tw-max-w-xs tw-pb-6 tw-mb-0 sm:tw-hidden">
            See Our Line Of Shaping Tights
          </p>
          <div class="msm:tw-m-auto sm:tw-my-auto">
              <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/collections/shaping-tights-pantyhose">
                  discover now
              </a>
          </div>
      </div>
    </div>
  </section>
  
  <section class="tw-text-center sm:tw-py-12 msm:tw-py-10">
    <p class="tw-mx-auto sm:tw-text-5xl msm:tw-text-2xl tw-font-serif tw-mb-0">
        How Do Our Shaping Tights Work?
    </p>
  </section>
  
  <section class="tw-grid sm:tw-grid-cols-3 msm:tw-grid-cols-1 tw-py-16 tw-px-8 tw-bg-classicsBG">
    <div class="tw-text-center sm:tw-px-8 msm:tw-pb-8">
        <img src="{{ 'shapinglp_Shaping_Thigh_2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-text-4xl tw-font-serif tw-mb-0 tw-py-4 msm:tw-leading-10">
            Shaping Thigh
        </p>
        <p class="tw-mx-auto tw-text-base msm:tw-text-sm tw-font-sans sm:tw-max-w-sm msm:tw-px-2">
            The best shaping tights you'll ever have. Every pair comes with a 90-day guarantee, valid from the day you receive your tights.
        </p>
        <a href="https://www.sheertex.com/collections/shaping-tights-pantyhose" class="tw-mx-auto tw-text-base tw-font-sans tw-uppercase tw-underline">
            shop now
        </a>
    </div>
    <div class="tw-text-center sm:tw-px-8 msm:tw-pb-8">
        <img src="{{ 'shapinglp_Shaping_Waistband_2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-text-4xl tw-font-serif tw-mb-0 tw-py-4 msm:tw-leading-10">
            Shaping Waistband
        </p>
        <p class="tw-mx-auto tw-text-base msm:tw-text-sm tw-font-sans sm:tw-max-w-sm msm:tw-px-2">
            Made with our ultra-strong proprietary sheer knit, and featuring a comfortable control top that gives “smoothing” a new meaning. 
        </p>
        <a href="https://www.sheertex.com/collections/shaping-tights-pantyhose" class="tw-mx-auto tw-text-base tw-font-sans tw-uppercase tw-underline">
            shop now
        </a>
    </div>
    <div class="tw-text-center sm:tw-px-8 msm:tw-pb-8">
        <img src="{{ 'shapinglp_Strong_Knit_2x.png' | asset_img_url: 'master' }}" class="tw-rounded-3xl" alt="temp">
        <p class="tw-mx-auto tw-text-4xl tw-font-serif tw-mb-0 tw-py-4 msm:tw-leading-10">
            Strong Knit
        </p>
        <p class="tw-mx-auto tw-text-base msm:tw-text-sm tw-font-sans sm:tw-max-w-sm msm:tw-px-2">
            The patent-pending technology, designed and manufactured in Canada. Named one of TIME's Best Inventions.
        </p>
        <a href="https://www.sheertex.com/collections/shaping-tights-pantyhose" class="tw-mx-auto tw-text-base tw-font-sans tw-uppercase tw-underline">
            shop now
        </a>
    </div>
  </section>

{% section 'temp_shaping-featured-collection1' %}
{% section 'hp-ca-review-slider' %}
{% section 'temp_shaping-featured-collection2' %}
{% section 'hp-ca-us-vs-them' %}
{% section 'temp-what-the-press' %}
{% section 'hp-ca-tripple-category' %}