{% section 'temp_ca-performance-instagram' %}

{% section 'temp-performance-press' %}

<section class="tw-text-center tw-py-16">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">
        As Resilient As You Are
    </p>
    <p
        class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
        Made with one of the world’s strongest polymers, typically used in fishing equipment
        and bullet-proof vests, our proprietary Sheertex Knit is tested to be unbreakable in human hands.
        Incredibly strong, and incredibly comfortable, so you can say goodbye to snags, runs and rips.
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

<section class="tw-container tw-mx-auto tw-flex msm:tw-align-start tw-items-center tw-justify-center tw-pb-16">
    <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
        <div class="tw-flex tw-flex-nowrap tw-flex-row">
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'igvalue1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Guaranteed Strong
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Incredibly strong but also incredibly silky and soft. They feel and look just like traditional tights.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'igvalue2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Magical Properties
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Water resistant, cooling,<br> quick-dry, and machine washable.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'igvalue3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Sustainably Made For All
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Designed and made-to-last responsibly in Canada, with inclusive sizing up to 3XL.<br>&nbsp;
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-width tw-grid tw-grid-cols-5 msm:tw-grid-cols-1 tw-justify-items-center tw-gap-4 tw-py-8">
    <div class="tw-grid sm:tw-col-span-3 tw-justify-items-center">
        <img src="{{ 'igday.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="sm:tw-hidden tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            From Day To Night
        </p>
        <p class="sm:tw-hidden tw-text-center">
            Sheertex tights are tough and performant enough to take you from day to night, worry-free.
        </p>
        <a href="https://www.sheertex.com/collections/all" class="sm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
    <div class="tw-grid sm:tw-col-span-2 tw-justify-items-center">
        <img src="{{ 'ignight.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="msm:tw-hidden tw-text-4xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            From Day To Night
        </p>
        <p class="msm:tw-hidden tw-text-center tw-max-w-xs">
            Sheertex tights are tough and performant enough to take you from day to night, worry-free.
        </p>
        <a href="https://www.sheertex.com/collections/all" class="msm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
</section>

<section class="tw-py-16 tw-bg-gray-50">
    <div class="page-width tw-flex tw-flex-col">
        <p
            class="tw-font-sans tw-leading-normal tw-text-center tw-uppercase tw-tracking-mini-heading tw-text-sm tw-font-bold tw-pb-4">
            buy better buy less
        </p>
        <p
            class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pb-6 msm:tw-px-6 tw-mb-0">
            While Sheertex typically costs more, they are tested to outlast multiple pairs of your traditional
            tights. Add to the fact that that they are sustainably and ethically made in Canada,
            they are a worthwhile investment for the planet and your wardrobe.
        </p>
        <img class="msm:tw-w-full tw-w-1/2 tw-mx-auto tw-pt-4" src="{{ 'fbtable.png' | asset_img_url: 'master' }}"
            alt="temp" />
    </div>
</section>

{% section 'temp-performance-ugc-sec' %}

<section class="tw-text-center tw-py-24"
    style="background-image: url({{ 'igbackground.png' | asset_img_url: 'master' }})">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal tw-text-white">
        As Resilient As You Are
    </p>
    <p
        class="msm:tw-max-w-sm tw-max-w-lg tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
        While Sheertex typically costs more, they are tested to outlast multiple pairs of your traditional tights.
        Add to that the fact that they are sustainably and ethically made in Canada,
        they are a worthwhile investment for the planet and your wardrobe.
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

{% section 'temp_ca-performance-guarantee.liquid' %}

{% section 'hp-ca-review-slider.liquid' %}

<section class="tw-py-10 tw-text-center">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-6 tw-tracking-normal">
        15% off your first order!
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

{% section 'hp-ca-featured-collection.liquid' %}

{% section 'hp-ca-tripple-category.liquid' %}