{% section 'temp_ca-holiday-hero' %}

<!-- {% include 'hero-marquee', bg_marquee: 'tw-bg-marqueepurple' %} -->

<section class="tw-text-center">
    <p class="tw-pt-12 msm:tw-pb-6 tw-font-sans tw-leading-normal tw-text-center tw-tracking-mini-heading tw-font-bold tw-text-sm msm:tw-text-xs tw-uppercase tw-m-0">
        customer favorites
    </p>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-1.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                SWEET TREATS
            </p>
            <p class="tw-font-serif tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Add To Cart! Some Things Are Too Tempting To Pass Up.
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @__amiris__
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection001' %}
    </div>
</section>

<section class="tw-text-center msm:tw-py-14 sm:tw-py-20 tw-bg-valentinesDayPink">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif msm:max-w-sm sm:tw-max-w-lg tw-leading-tight tw-font-light tw-tracking-normal tw-mx-auto tw-text-red">
            Valentine's Day Gift Guide
    </p>
    <p class="msm:tw-max-w-sm tw-max-w-xl tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto msm:tw-px-6 tw-text-red tw-mb-0">
            Sheertex keeps you feeling safe from the roughness of the world. You don't have to worry about your tights ripping, 
            and it feels like a warm embrace inside a protective cocoon.
    </p>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1 top-grid-classics-sec">
    <div class="tw-flex sm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-2.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-font-sans tw-m-auto tw-text-base msm:tw-text-xs tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                LOVE IS IN THE AIR
            </p>
            <p class="tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Something catch your eye?
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white">
                @jazlynndizon
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection002' %}
    </div>
    <div class="tw-flex msm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-2.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-font-sans tw-m-auto tw-text-base msm:tw-text-xs tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                LOVE IS IN THE AIR
            </p>
            <p class="tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Something Catch Your Eye?
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @jazlynndizon
            </p>
        </div>
    </div>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="sm:tw-col-span-3 tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'valentines_UGC-3.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                BE MY GALENTINE?
            </p>
            <p class="tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Treat Your Pals With Gifts They'll Love.
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @kellychristinereed
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection003' %}
    </div>
</section>

<section class="tw-text-center msm:tw-py-14 sm:tw-py-20 tw-bg-valentinesDayPink">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif msm:tw-max-w-sm sm:tw-max-w-lg tw-leading-tight tw-font-light tw-tracking-normal tw-mx-auto tw-text-red">
            Show Them You Appreciate Them Just As They Are
    </p>
    <p class="msm:tw-max-w-sm tw-max-w-xl tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto msm:tw-px-6 tw-text-red tw-mb-0">
            To help make gifting season easier this year, we've put together a handy gift guide of our favorite products. 
            Available in inclusive sizes from XS - 3XL, 6 nude shades, patterns and more, there's something for everyone on your list.
    </p>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-4.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                LUCKY CUPID
            </p>
            <p class="tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Flawless Aim With Exquisite Taste.
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @kellynothmann
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection004' %}
    </div>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex sm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-5.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                CROSS MY HEART
            </p>
            <p class="tw-m-auto tw-font-serif tw-max-w-md msm:tw-max-w-sm tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Your Perfect Match Awaits
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @styled.by.jan
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection005' %}
    </div>
    <div class="tw-flex msm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-5.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                CROSS MY HEART
            </p>
            <p class="tw-m-auto tw-font-serif tw-max-w-md msm:tw-max-w-sm tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Your Perfect Match Awaits
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @styled.by.jan
            </p>
        </div>
    </div>
</section>

<section class="tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'valentines_UGC-6.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                DISCOVER NOW
            </p>
            <p class="tw-m-auto tw-max-w-md msm:tw-max-w-sm tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                Valentine's Day
            </p>
            <p class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-white">
                @c.alystra
            </p>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'temp_holiday-gg-collection006' %}
    </div>
</section>

{% section 'hp-ca-featured-collection' %}

{% section 'hp-ca-tripple-category' %}