<section class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center tw-relative">
    <img src="{{ 'Desktop-LP-ClassicSheer_header_2x.jpg' | asset_img_url: 'master' }}" class="msm:tw-hidden" alt="temp">
    <img src="{{ 'Mobile-LP-ClassicSheer_header_2x.jpg' | asset_img_url: 'master' }}" class="sm:tw-hidden" alt="temp">
    <div class="tw-text-center tw-absolute tw-m-auto lg:tw-pb-10 tw-justify-items-center tw-items-center tw-justify-center">
        <p class="tw-m-auto tw-text-6xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light msm:tw-max-w-sm tw-text-white">
            Our Highest Standard
        </p>
    </div>
    <div class=" tw-absolute tw-mx-auto tw-inset-x-0 tw-bottom-0 sm:tw-max-w-xl tw-justify-items-center">
        <p class="tw-mx-auto tw-text-lg tw-font-narrow tw-leading-tight tw-tracking-widest tw-text-center tw-font-bold tw-uppercase tw-mb-0 msm:tw-max-w-sm tw-text-white mlg:tw-hidden">
            Classic Sheer Tights
        </p>
        <p class="tw-mx-auto tw-text-lg tw-font-narrow tw-leading-tight tw-text-center tw-font-light tw-pt-4 msm:tw-max-w-sm tw-text-white mlg:tw-hidden">
            The tights that raised the bar for the entire hosiery category. The waist-to-toe sheer design gives you the seamless look you want, under any outfit, time after time.
        </p>
        <div class="tw-flex msm:tw-flex-col sm:tw-grid-cols-2 sm:tw-justify-between tw-mx-auto sm:tw-max-w-md msm:tw-mx-20 tw-pt-4 tw-pb-8 tw-border-0 tw-border-t tw-border-solid tw-border-white">
            <div class="msm:tw-m-auto sm:tw-my-auto">
                <p class="tw-font-bold tw-font-sans msm:tw-justify-start sm:tw-my-auto msm:tw-place-self-start tw-text-light tw-text-base tw-tracking-wider tw-mb-0 tw-uppercase tw-text-white">
                    FAN FAVORITE
                </p>
                <p class="tw-font-serif tw-font-medium sm:tw-my-auto tw-text-lg tw-mb-0 tw-text-white">
                    Classic Sheer Tights
                </p>
                <p class="tw-font-bold tw-font-sans sm:tw-my-auto tw-text-light tw-text-base sm:tw-mb-0 tw-tracking-wider tw-uppercase tw-text-white">
                    {% assign product = all_products['classic-semi-opaque-tights'] %}
                    {{ product.price  | money }}
                </p>
            </div>
            <div class="msm:tw-m-auto sm:tw-my-auto">
                <a class="tw-border-0 tw-border tw-border-solid tw-border-black tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-sm tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="#ess-product-form">
                    SHOP NOW
                </a>
            </div>
        </div>
    </div>
</section>

<section class="tw-grid tw-grid-cols-2 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'Desktop-LP-ClassicSheer_StrongKnit_2x.jpg' | asset_img_url: 'master' }}" class="msm:tw-hidden" alt="temp">
        <img src="{{ 'Mobile-LP-ClassicSheer_StrongKnit_2x.jpg' | asset_img_url: 'master' }}" class="sm:tw-hidden" alt="temp">
        <div class="tw-mx-auto tw-justify-items-center tw-items-center tw-absolute">
            <p class="tw-m-auto tw-text-5xl mlg:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-4 tw-max-w-lg mlg:tw-max-w-xs tw-text-white">
                Made Strong with Sheertex™ Knit Technology
            </p>
            <p class="tw-m-auto tw-text-lg msm:tw-text-base tw-font-narrow tw-leading-tight tw-text-center tw-max-w-sm mlg:tw-max-w-xs tw-text-white">
                Made with a miniaturized version of one of the world's strongest polymers, traditionally found in climbing, sailing equipment.
            </p>
        </div>
    </div>
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'Desktop-LP-ClassicSheer_WaistToe_2x.jpg' | asset_img_url: 'master' }}" class="msm:tw-hidden" alt="temp">
        <img src="{{ 'Mobile-LP-ClassicSheer_WaistToe_2x.jpg' | asset_img_url: 'master' }}" class="sm:tw-hidden" alt="temp">
        <div class="tw-mx-auto tw-justify-items-center tw-items-center tw-absolute">
            <p class="tw-m-auto tw-text-5xl mlg:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-4 tw-max-w-lg mlg:tw-max-w-xs tw-text-white">
                Waist-To-Toe Sheer
            </p>
            <p class="tw-m-auto tw-text-lg msm:tw-text-base tw-font-narrow tw-leading-tight tw-text-center tw-max-w-sm mlg:tw-max-w-xs tw-text-white">
                Made of 30 denier Sheertex Knit sheer from top to bottom— wear them however you want, worry-free.
            </p>
        </div>
    </div>
</section>

<section id="ess-product-form" class="tw-py-6">
    <span class="tw-text-center">
        <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-mx-auto tw-pt-8 msm:tw-max-w-xs">
            Named one of TIME's Best Inventions
        </p>
    </span>
    {% section 'product-essential-template' %}
</section>

<section class="tw-justify-items-center tw-items-center md:tw-px-36 md:tw-pb-12">
    <img src="{{ 'Desktop-LP-Classic_Sheer_Features_2x.jpg' | asset_img_url: 'master' }}" class="mmd:tw-hidden tw-mx-auto" alt="temp">
    <img src="{{ 'Mobile-LP-Classic_Sheer_Features_2x.jpg' | asset_img_url: 'master' }}" class="md:tw-hidden" alt="temp">
</section>

<section class="tw-bg-classicsBG tw-py-16 msm:tw-py-8">
    <p class="msm:tw-text-2xl sm:tw-text-4xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-center">
        Which tights are right for you?
    </p>
    {% render 'temp-essential-classics-sec' %}
</section>

<section class="tw-bg-classicsBG tw-pb-12 tw-pt-6 msm:tw-pb-8 msm:tw-pt-4 tw-justify-items-center tw-items-center">
    <div class="tw-flex tw-items-center tw-justify-center tw-flex-col tw-max-w-6xl tw-mx-auto">
        <p class="tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-tracking-widest mlg:tw-max-w-xs">
            5-star reviews from thousands of customers&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.sheertex.com/pages/reviews" class="tw-font-normal tw-cursor-pointer tw-tracking-wide tw-underline">See more</a>
        </p>
        <img class="tw-py-6 tw-w-28" src="{{ 'Stars.svg' | asset_url }}" alt="5 star reviews">
        <p class="tw-tracking-normal tw-font-serif tw-text-center tw-font-light tw-leading-normal msm:tw-leading-6 tw-text-5xl mlg:tw-text-lg tw-px-4 msm:tw-max-w-sm">
            “These tights withstand my dogs antics. She gets zoomies, jumps up on my lap, paws when she wants to play, and these tights handle it all. 
            She's a pit/Chihuahua mix and hates getting her nails cut, so I really expected these tights to not last long. Will definitely buy another pair!”
        </p>
        <div class="tw-flex tw-mt-8 msm:tw-mt-4 msm:tw-mb-6 tw-items-center tw-justify-center">
            <div class="tw-text-base msm:tw-text-xs tw-font-sans tw-leading-loose tw-text-center tw-font-bold tw-uppercase">
                Lisa R.
            </div>
            <div class="text-2xl msm:tw-text-xs tw-font-narrow tw-leading-loose tw-text-center">&nbsp;&mdash; Verified Customer</div>
        </div>
    </div>
</section>

<section class="tw-pt-8 tw-w-full">
    <p class="msm:tw-text-2xl sm:tw-text-4xl tw-py-4 tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-center">
        Resilience looks great on you
    </p>
    <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
        <div class="tw-flex tw-flex-nowrap tw-flex-row">
            <div class="tw-inline-block msm:tw-w-72">
                <img src="{{ 'Desktop-LP-ClassicSheer_UGC1_2x.jpg' | asset_img_url: 'master' }}" class="tw-w-full" alt="temp">
            </div>
            <div class="tw-inline-block msm:tw-w-72">
                <img src="{{ 'Desktop-LP-ClassicSheer_UGC2_2x.jpg' | asset_img_url: 'master' }}" class="tw-w-full" alt="temp">
            </div>
            <div class="tw-inline-block msm:tw-w-72">
                <img src="{{ 'Desktop-LP-ClassicSheer_UGC3_2x.jpg' | asset_img_url: 'master' }}" class="tw-w-full" alt="temp">
            </div>
        </div>
    </div>
</section>
