{% section 'temp_ca-holiday-hero' %}

<!-- {% section 'footer-value-prop-section' %} -->
{% include 'hero-marquee', bg_marquee: 'tw-bg-marqueepurple' %}
<section class="tw-py-2 tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'hgg5.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                CLASSICS CONNOISSEUR
            </p>
            <p class="tw-font-serif tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “Forget red and green. My favorite colors are black… and dark black.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/all">
                SHOP MORE TIGHTS
            </a>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'holiday-gg-collection005' %}
        <!-- {% include 'product-grid-item' %} -->
    </div>
</section>

<section class="tw-text-center msm:tw-py-14 sm:tw-py-28 tw-bg-gradient-to-t tw-from-holidayGGbot tw-to-holidayGGtop">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif msm:max-w-sm sm:tw-max-w-lg tw-leading-tight tw-font-light tw-tracking-normal tw-mx-auto">
            Show Them You Appreciate Them Just As They Are
    </p>
    <p class="msm:tw-max-w-sm tw-max-w-xl tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto tw-pt-4 msm:tw-px-6">
            To help make gifting season easier this year, we’ve put together a handy gift guide of 
            our favorite products. Available in inclusive sizes from XS - 3XL, 6 nude shades, 
            patterns and more, there’s something for everyone on your list.
    </p>
</section>

<section class="tw-py-2 tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1 top-grid-classics-sec">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'hgg1.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-font-sans tw-m-auto tw-text-base msm:tw-text-xs tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                SPARKLING SOCIALITE
            </p>
            <p class="tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “Call me and I’ll be there with bells on, literally.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/new-arrivals">
                SHOP MORE TIGHTS
            </a>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'holiday-gg-collection001' %}
    </div>
</section>

<section class="tw-py-2 tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="sm:tw-col-span-3 sm:tw-hidden tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'hgg2.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                PARTY FOR TWO
            </p>
            <p class="tw-font-serif tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “I’ll pass on the champagne, but pass me the turkey.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/all">
                SHOP MORE TIGHTS
            </a>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'holiday-gg-collection002' %}
    </div>
    <div class="sm:tw-col-span-3 msm:tw-hidden tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'hgg2.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                PARTY FOR TWO
            </p>
            <p class="tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “I’ll pass on the champagne, but pass me the turkey.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/all">
                SHOP MORE TIGHTS
            </a>
        </div>
    </div>
</section>

<section class="tw-text-center msm:tw-py-14 sm:tw-py-28 tw-bg-gradient-to-t tw-from-holidayGGbot tw-to-holidayGGtop">
    <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif tw-mx-auto tw-leading-tight tw-text-center tw-font-light tw-tracking-normal msm:tw-max-w-sm sm:tw-max-w-xl tw-pb-8">
            "This holiday, give them something festive that 
            lasts beyond the season. Give them the gift of 
            the world’s most resilient tights."
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading tw-text-black" href="https://www.sheertex.com/collections/all">
            SHOP TIGHTS
    </a>
</section>

<section class="tw-py-2 tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'hgg3.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                FESTIVE FRIEND
            </p>
            <p class="tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “Glass is definitely half full—of holiday cheer (or something stronger).”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/todaysdeal">
                SHOP MORE TIGHTS
            </a>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'holiday-gg-collection003' %}
    </div>
</section>

<section class="tw-py-2 tw-grid sm:tw-grid-cols-7 msm:tw-grid-cols-1">
    <div class="tw-flex sm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'hgg4.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                COZY HOMEBODY
            </p>
            <p class="tw-m-auto msm:tw-max-w-sm tw-max-w-lg tw-font-serif tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “Go comfy or go home. Or maybe both.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/socks">
                SHOP MORE SOCKS
            </a>
        </div>
    </div>
    <div class="sm:tw-col-span-4">
        {% section 'holiday-gg-collection004' %}
    </div>
    <div class="tw-flex msm:tw-hidden tw-flex-col tw-justify-items-center tw-items-center tw-justify-center sm:tw-col-span-3">
        <img src="{{ 'hgg4.png' | asset_img_url: 'master' }}" class="" alt="temp">
        <div class="tw-m-auto tw-text-center tw-absolute">
            <p class="tw-m-auto tw-text-base msm:tw-text-xs tw-font-sans tw-leading-tight tw-text-center tw-mb-0 tw-tracking-heading tw-font-bold tw-text-white">
                COZY HOMEBODY
            </p>
            <p class="tw-m-auto tw-font-serif msm:tw-max-w-sm tw-max-w-lg tw-text-4xl msm:tw-text-3xl tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0 tw-text-white">
                “Go comfy or go home. Or maybe both.”
            </p>
            <a class="tw-m-auto tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-underline tw-tracking-heading tw-text-white" href="https://www.sheertex.com/collections/socks">
                SHOP MORE SOCKS
            </a>
        </div>
    </div>
</section>


<section class="sm:tw-py-6 msm:tw-py-2 tw-text-center">
    <p class="tw-text-3xl msm:tw-text-xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-tracking-normal">
        More Holiday Favorites
    </p>
</section>

{% section 'hp-ca-tripple-category' %}

{% section 'hp-ca-featured-collection' %}