<section class="tw-bg-labBlue">
    <section
        class="tw-w-full tw-grid tw-grid-cols-1 sm:tw-grid-cols-4 tw-justify-between msm:tw-px-4 md:tw-px-20 tw-py-4 sm:tw-py-8 sm:tw-justify-items-start msm:tw-justify-items-center tw-items-center">
        <div class="tw-flex sm:tw-w-full tw-my-auto msm:tw-m-auto tw-justify-items-start sm:tw-col-start-1 msm:tw-py-6">
            <a class="" href="https://www.sheertex.com/pages/sheertex-labs-landing-page">
                <img src="{{ 'sheertex-lab.svg' | asset_url }}">
            </a>
        </div>
        <div class="tw-items-center tw-w-full sm:tw-col-span-2">
            <p
                class="msm:tw-hidden tw-my-auto tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-mx-auto tw-font-light tw-tracking-normal tw-leading-tight">
                    A Magazine<br>About Resilience
            </p>
        </div>
        <div class="tw-my-auto tw-w-full sm:tw-col-start-4">
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;" />
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                <a href="https://www.sheertex.com/blogs/articles">Articles</a>
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;" />
            <p class="tw-font-sans msm:tw-text-sm tw-font-light tw-tracking-wider tw-uppercase tw-mb-0">
                <a href="https://www.sheertex.com/blogs/experiments">Experiments</a>
            </p>
            <hr class="msm:tw-my-2" style="border-bottom: 1px solid black; width: 100%;" />
        </div>
    </section>
</section>

<section class="tw-bg-labBlue">
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-pt-16">
        <div>
            <a href="https://www.sheertex.com/blogs/articles/essentials-sustainability"><img src="{{ 'Lab_Article005_img1_Desktop.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full tw-rounded-2xl" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        article
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        An Essential Step Towards Sustainability
                    </p>
                    <p 
                        class="tw-mx-auto tw-max-w-sm">
                        We sat down with Katherine Homuth, Founder and CEO of Sheertex, to explore how the World's Most Resilient Tights and their latest product, 
                        Essential Sheer Tights, are playing their part in reducing the ecological footprint of the hosiery industry.
                    </p>
                    <a 
                        href="https://www.sheertex.com/blogs/articles/essentials-sustainability"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/pages/holiday-lookbook"><img src="{{ 'Sheertex_Lab_LP_thumb_2x.jpg' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        article
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        Office'ially on Holiday
                    </p>
                    <p 
                        class="tw-text-center tw-max-w-sm">
                        The corporate halls are decked, the karaoke machine is ready and waiting, and the punch is calling your name... come take a look at our Holiday Lookbook!
                    </p>
                    <a 
                        href="https://www.sheertex.com/pages/holiday-lookbook"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
        
    </section>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-py-16">
        <div>
            <a href="https://www.sheertex.com/blogs/experiments/sheertex-lab"><img src="{{ 'lablanding3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-green-200 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        Experiments
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        Putting Resilience To The Test
                    </p>
                    <p 
                        class="tw-text-center tw-max-w-sm">
                        Our tights are the most resilient in the world. 
                        Made with a polymer 10x stronger than steel, they are designed to stand up to just about anything life can throw at them.
                    </p>
                    <a 
                        href="https://www.sheertex.com/blogs/experiments/sheertex-lab"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/pages/what-makes-sheertex-different"><img src="{{ 'lablanding4.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        article
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        A Sheer Outlier: What Makes<br>Sheertex Different From Other<br>Tights?
                    </p>
                    <p 
                        class="tw-text-center tw-max-w-sm">
                        You’ve heard the claims: Sheertex makes the World’s Most Resilient Tights. 
                        But what exactly makes them a worthwhile investment in your wardrobe?
                    </p>
                    <a 
                        href="https://www.sheertex.com/pages/what-makes-sheertex-different"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-width tw-px-4 tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-py-16">
        <div>
            <a href="https://www.sheertex.com/pages/unbreakable-tights-do-they-work"><img src="{{ 'lablanding1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        article
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        Unbreakable Tights:<br>Do They Really Work?
                    </p>
                    <p 
                        class="tw-text-center tw-max-w-sm">
                        Many companies claim to have created “indestructible” or “unbreakable” tights,
                        without much information, proof nor any kind of guarantee. What is fact, what is fiction?
                    </p>
                    <a 
                        href="https://www.sheertex.com/pages/unbreakable-tights-do-they-work"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.sheertex.com/pages/complete-your-story"><img src="{{ 'lablanding2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" /></a>
            <div class="tw-flex tw-h-full">
                <div class="tw-mx-auto tw-text-center msm:tw-pt-4">
                    <p
                        class="tw-rounded-3xl tw-mx-24 tw-mt-4 tw-py-1 tw-bg-orange-300 tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading">
                        article
                    </p>
                    <p
                        class="tw-text-center tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                        Long-Lasting Tights Are No<br>Longer A Fairytale
                    </p>
                    <p 
                        class="tw-text-center tw-max-w-sm">
                        Once upon a time, wearing tights came with associated risks and responsibilities. 
                        Avoiding sharp objects, cute pets, and any spontaneous movements was the price we thought we had to pay to look good.
                    </p>
                    <a 
                        href="https://www.sheertex.com/pages/complete-your-story"
                        class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
                        Read More &rarr;
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>


{% section 'hp-ca-tripple-category' %}