<section class="page-width tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 tw-pt-8 tw-pb-12">
    <div>
        <img src="{{ 'googlehero.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
    </div>
    <div class="tw-flex tw-h-full tw-justify-items-center tw-items-center">
        <div class="tw-m-auto tw-text-center msm:tw-pt-4">
            <p
                class="tw-text-center tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
                Unbreakable Tights:<br>Do They Really Work?
            </p>
            <p class="tw-text-center tw-max-w-sm">
                Many companies claim to have created “indestructible” or “unbreakable” tights,
                without much information, proof nor any kind of guarantee. What is fact, what is fiction?
            </p>
            <p class="tw-text-center tw-uppercase tw-tracking-widest tw-text-xs tw-pb-0">
                staff contributor
            </p>
            <p class="tw-text-center tw-text-xs">
                September 13, 2021
            </p>
            <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
                href="https://www.sheertex.com/collections/all">
                SHOP SHEERTEX TIGHTS
            </a>
        </div>
    </div>
</section>

<section class="tw-text-center tw-py-24"
    style="background-image: url({{ 'tear-img@2x.png' | asset_img_url: 'master' }})">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-tracking-normal tw-text-white">
        Most Tights Are Only Good For A Few Wears
    </p>
    <p
        class="msm:tw-max-w-sm tw-max-w-lg tw-font-narrow tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center msm:tw-px-6 tw-text-white">
        Anyone who has ever worn a pair of conventional tights knows they are not made to last.
        Usually ripping after a couple of wears, 2 billion pairs of them end up in landfills every year.
    </p>
    <a class="tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

<section class="tw-container tw-mx-auto tw-flex msm:tw-align-start tw-items-center tw-justify-center tw-pt-12 tw-pb-16">
    <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
        <div class="tw-flex tw-flex-nowrap tw-flex-row">
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Sheertex Knit
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Made using one of the world's strongest polymers, Sheertex tights are guaranteed to last.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Feel Just Like Real Tights
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Incredibly strong but also incredibly silky and soft. They feel and look just like traditional tights.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'googlevalue1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Sustainability
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Designed and made-to-last responsibly in Canada, with inclusive sizing up to 3XL, and 6 nude shades.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tw-text-center tw-py-16 msm:tw-pt-8 msm:tw-pb-16">
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

<section class="tw-flex tw-w-full">
    <img class="tw-mx-auto tw-w-full" src="{{ 'googleslider.png' | asset_img_url: 'master' }}" alt="temp" />
</section>

<section class="tw-text-center tw-pt-24 tw-pb-12">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">
        A Guaranteed Strong Knit
    </p>
    <p
        class="msm:tw-max-w-sm tw-font-narrow tw-max-w-xl tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
        Industry experts said it could not be done. But a year and a few broken sewing machines later,
        the folks at Sheertex finally engineered a proprietary knit, made from one of the world’s strongest polymers,
        that is tested to be unbreakable in human hands. Miraculously, not only is the Sheertex Knit incredibly strong,
        it feels and looks just like traditional tights.
    </p>
</section>

<section class="tw-py-16 tw-bg-gray-50">
    <div class="page-width tw-flex tw-flex-col">
        <p
            class="tw-font-sans tw-leading-normal tw-text-center tw-uppercase tw-tracking-mini-heading tw-text-sm tw-font-bold tw-pb-4">
            buy better buy less
        </p>
        <p
            class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pb-6 msm:tw-px-6 tw-mb-0">
            While Sheertex typically costs more, they are tested to outlast multiple pairs of your traditional
            tights. Add to the fact that that they are sustainably and ethically made in Canada,
            they are a worthwhile investment for the planet and your wardrobe.
        </p>
        <img class="msm:tw-w-full tw-w-1/2 tw-mx-auto tw-pt-4" src="{{ 'fbtable.png' | asset_img_url: 'master' }}"
            alt="temp" />
    </div>
</section>

{% section 'temp-performance-ugc-sec' %}

<section class="page-width tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-py-16">
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbcolortights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Available In A Variety Of Styles,<br> Colors, And 6 Nude Shades.
        </p>
        <a href="https://www.sheertex.com/collections/color-tights-pantyhose"
            class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            Shop Now &rarr;
        </a>
    </div>
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbshadetights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Inclusive Sizing From<br>XS-3XL
        </p>
        <a href="https://www.sheertex.com/collections/fall-collection"
            class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            Shop Now &rarr;
        </a>
    </div>
</section>

<section
    class="tw-mx-auto mlg:tw-grid-cols-1 mlg:tw-items-center tw-bg-gradient-to-b tw-from-perfGoogle1 tw-to-perfGoogle2">
    <div class="lg:tw-hidden tw-grid tw-justify-items-center tw-pt-8">
        <img class="tw-justify-self-auto tw-w-4/12" src="{{ '90day-EN.svg' | asset_img_url: 'master' }}"
            alt="guarantee_badge">
    </div>
    <div class="mlg:tw-pt-5 tw-pt-20 tw-pb-20 md:tw-px-36 tw-px-8 tw-text-center">
        <div class="mlg:tw-hidden mxl:tw-left-10 xl:tw-left-40 tw-w-36 tw-absolute ">
            <img src="{{ 'googlebadge.png' | asset_img_url: 'master' }}" alt="guarantee_badge">
        </div>
        <div class="tw-tracking-widest tw-uppercase tw-font-bold">
            They Come With A
        </div>
        <div class="tw-tracking-wide tw-text-5xl tw-py-4">
            90-day No Rip Guarantee
        </div>
        <div>
            Guaranteed to last, Sheertex covers any damage that renders your tights unwearable for 90 days.
        </div>
    </div>
</section>

<section class="tw-py-10 tw-text-center">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-6 tw-tracking-normal">
        15% off your first order!
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

{% section 'hp-ca-featured-collection.liquid' %}

{% section 'hp-ca-tripple-category.liquid' %}