{% section 'temp_ca-performance-facebook' %}

{% section 'temp_footer-value-prop-test.liquid' %}

{% section 'hp-ca-featured-collection.liquid' %}

<!-- {% section 'temp-performance-press' %} -->

<section class="tw-text-center tw-pt-8 tw-pb-16">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">
        No More Rips and Runs
    </p>
    <p
        class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
        Do you carry around spare pantyhose just in case? Or a bottle of nail polish to stop runs from getting worse?
        Before Sheertex, tights ripped at the first sign of trouble.
    </p>
</section>

<section class="tw-container tw-mx-auto tw-flex msm:tw-align-start tw-items-center tw-justify-center tw-pb-16">
    <div class="tw-flex tw-overflow-x-scroll tw-hide-scroll-bar">
        <div class="tw-flex tw-flex-nowrap tw-flex-row">
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'fbvalue1.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Strong, but Silky
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Incredibly strong but also incredibly silky and soft. They feel and look just like traditional tights.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'fbvalue2.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Magical Properties
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Water resistant, cooling,<br> quick-dry, and machine washable.
                </p>
            </div>
            <div class="tw-inline-block msm:tw-w-72 tw-px-4">
                <img src="{{ 'fbvalue3.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
                <p
                    class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6 msm:tw-pt-3 tw-mb-0">
                    Sustainably Made For All
                </p>
                <p class="tw-text-center tw-max-w-sm tw-pt-1">
                    Designed and made-to-last responsibly in Canada, with inclusive sizing up to 3XL.<br>&nbsp;
                </p>
            </div>
        </div>
    </div>
</section>

{% section 'temp_ca-performance-guarantee.liquid' %}

<!-- <section class="tw-flex tw-flex-col">
    <div class="tw-flex tw-items-center tw-justify-center tw-flex-col tw-w-full tw-py-24"
        style="background-image: url({{ 'fbbackground.png' | asset_img_url: 'master' }})">
        <p
            class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal">
            The Strongest Tights, Guaranteed
        </p>
        <p
            class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pt-4 tw-pb-6 msm:tw-px-6 tw-mb-0">
            Our proprietary Sheertex Knit is made from one of the world’s strongest polymers
            and engineered to be as soft as ordinary tights, making them resistant to snags,
            rips and runs. In fact, they have been lab-tested to be unbreakable in human hands.
        </p>
    </div>
</section> -->

<section class="tw-py-16 tw-bg-gray-50">
    <div class="page-width tw-flex tw-flex-col">
        <p
            class="tw-font-sans tw-leading-normal tw-text-center tw-uppercase tw-tracking-mini-heading tw-text-sm tw-font-bold tw-pb-4">
            sheertex vs competitors
        </p>
        <p
            class="msm:tw-max-w-sm tw-font-narrow tw-max-w-lg tw-text-base msm:tw-text-xs tw-mx-auto tw-text-center tw-pb-6 msm:tw-px-6 tw-mb-0">
            While Sheertex typically costs more, they are tested to outlast multiple pairs of traditional
            tights. Add to the fact that that they are sustainably and ethically made in Canada,
            they are a worthwhile investment for the planet and your wardrobe.
        </p>
        <img class="msm:tw-w-full tw-w-1/2 tw-mx-auto tw-pt-4" src="{{ 'fbtable.png' | asset_img_url: 'master' }}"
            alt="temp" />
    </div>
</section>

<!-- <section class="tw-text-center msm:tw-py-6 tw-py-10">
    <div class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
        <img src="{{ 'Hol_Look_GiftGuide_2x.jpg' | asset_img_url: 'master' }}" class="msm:tw-hidden tw-px-8"
            alt="temp" />
        <img src="{{ 'M-Hol_Look_GiftGuide_2x.jpg' | asset_img_url: 'master' }}" class="sm:tw-hidden tw-px-2"
            alt="temp" />
        <div class="tw-absolute">
            <p
                class="tw-text-6xl msm:tw-text-4xl tw-uppercase tw-font-serif tw-leading-tight tw-font-light tw-tracking-wide tw-m-auto tw-text-white">
                something<br> for every body
            </p>
            <p
                class="tw-text-2xl msm:tw-text-xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-wide tw-m-auto tw-text-white msm:tw-ty-4 tw-pt-1 tw-pb-6">
                Save 20-40% on Holiday Favorites
            </p>
            <a class="tw-rounded-3xl sm:tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
                href="https://www.sheertex.com/collections/todaysdeal">
                SHOP HOLIDAY DEALS
            </a>
        </div>
    </div>
</section> -->

<!-- {% section 'hp-ca-review-slider.liquid' %} -->

<!-- <section class="page-width tw-grid msm:tw-grid-cols-1 tw-grid-cols-2 tw-gap-4 tw-py-16">
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbcolortights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Available in many Styles,<br> Colors, And 6 Nude Shades.
        </p>
        <a href="https://www.sheertex.com/collections/color-tights-pantyhose"
            class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            Shop Now &rarr;
        </a>
    </div>
    <div class="tw-grid tw-justify-items-center">
        <img src="{{ 'fbshadetights.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p class="tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Inclusive Sizing From<br>XS-3XL
        </p>
        <a href="https://www.sheertex.com/collections/nude-tights-pantyhose"
            class="tw-pb-2 tw-uppercase tw-underline tw-font-medium">
            Shop Now &rarr;
        </a>
    </div>
</section> -->

<!-- <section class="tw-py-10 tw-text-center">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-6 tw-tracking-normal">
        15% off your first order!
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section> -->

<!-- {% section 'hp-ca-tripple-category.liquid' %} -->