{% section 'temp_ca-performance-pinterest' %}

<div class="tw-w-full tw-flex tw-flex-col tw-justify-items-center tw-items-center msm:tw-py-14 tw-py-28 tw-text-center">
    <p class="tw-flex tw-m-auto tw-text-center tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal">
        The World's Most Resilient Tights
    </p>
    <p class="tw-flex tw-m-auto tw-text-center tw-max-w-xl tw-pb-4">
        As we’re becoming increasingly conscious of the impact of what we buy,
        it is equally important to make our choices count. Sheertex Tights are made to last with one of the
        world’s strongest fibers,
        tested to be unbreakable in human hands, keeping disposable tights out of landfills.
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-md tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
            SHOP SHEERTEX TIGHTS
    </a>
</div>

<section class="tw-flex tw-w-full tw-h-full">
    <img class="tw-mx-auto tw-w-full" src="{{ 'googleslider.png' | asset_img_url: 'master' }}" alt="temp" />
</section>

<section class="page-width tw-grid tw-grid-cols-5 msm:tw-grid-cols-1 tw-justify-items-center tw-gap-4 tw-py-8">
    <div class="tw-grid sm:tw-col-span-3 tw-justify-items-center">
        <img src="{{ 'igday.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="sm:tw-hidden tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            From Day To Night
        </p>
        <p class="sm:tw-hidden tw-text-center">
            Sheertex tights are tough and performant enough to take you from day to night, worry-free.
        </p>
        <a href="https://www.sheertex.com/collections/all" class="sm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
    <div class="tw-grid sm:tw-col-span-2 tw-justify-items-center">
        <img src="{{ 'ignight.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="msm:tw-hidden tw-text-4xl msm:tw-text-3xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            From Day To Night
        </p>
        <p class="msm:tw-hidden tw-text-center tw-max-w-xs">
            Sheertex tights are tough and performant enough to take you from day to night, worry-free.
        </p>
        <a href="https://www.sheertex.com/collections/all" class="msm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
</section>

<section class="page-width tw-grid tw-grid-cols-5 msm:tw-grid-cols-1 tw-justify-items-center tw-gap-4">
    <div class="tw-grid sm:tw-col-span-2 tw-justify-items-center">
        <img src="{{ 'ignight.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p class="tw-text-4xl msm:tw-text-3xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Versatility
        </p>
        <p class="tw-text-center tw-max-w-xs">
            A pair of tights are a great way to elevate a casual look, or bring a touch of glamour to your everyday office attire.
        </p>
        <a href="https://www.sheertex.com/collections/all" class="tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
    <div class="tw-grid sm:tw-col-span-3 tw-justify-items-center">
        <img src="{{ 'igday.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
    </div>
</section>

<section class="page-width tw-grid tw-grid-cols-5 msm:tw-grid-cols-1 tw-justify-items-center tw-gap-4 tw-py-8">
    <div class="tw-grid sm:tw-col-span-3 tw-justify-items-center">
        <img src="{{ 'igday.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="sm:tw-hidden tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Do the Impossible
        </p>
        <p class="sm:tw-hidden tw-text-center">
            Don't let what you wear limit what you can do. Live life the way it's intended to be lived: fearlessly and worry-free.
        </p>
        <a class="sm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
    <div class="tw-grid sm:tw-col-span-2 tw-justify-items-center">
        <img src="{{ 'ignight.png' | asset_img_url: 'master' }}" class="tw-mx-auto tw-w-full" alt="temp" />
        <p
            class="msm:tw-hidden tw-text-4xl msm:tw-text-3xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-pt-6">
            Do the impossible
        </p>
        <p class="msm:tw-hidden tw-text-center tw-max-w-xs">
            Don't let what you wear limit what you can do. Live life the way it's intended to be lived: fearlessly and worry-free.
        </p>
        <a class="msm:tw-hidden tw-uppercase tw-underline tw-font-medium">
            Shop Tights
        </a>
    </div>
</section>

<section class="tw-text-center tw-py-10">
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

{% section 'temp-performance-ugc-sec' %}

{% section 'temp_ca-performance-guarantee.liquid' %}

<section class="tw-py-10 tw-text-center">
    <p
        class="tw-text-5xl msm:tw-text-3xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-py-6 tw-tracking-normal">
        15% off your first order!
    </p>
    <a class="tw-mb-0 tw-rounded-3xl tw-px-24 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading"
        href="https://www.sheertex.com/collections/all">
        SHOP SHEERTEX TIGHTS
    </a>
</section>

{% section 'hp-ca-featured-collection.liquid' %}

{% section 'hp-ca-tripple-category.liquid' %}